{
  "openapi": "3.1.0",
  "info": {
    "title": "Revdoku public agent API",
    "version": "1.0.0",
    "description": "Email mailboxes for people and AI agents, with private file storage. Create mailboxes, read messages and attachments, and store additional files. Direct API signup requires verification of the human operator email. This document covers selected endpoints; see https://revdoku.com/api.md for the complete API."
  },
  "servers": [
    {
      "url": "https://api.revdoku.com",
      "description": "Revdoku application API"
    }
  ],
  "paths": {
    "/v1/status": {
      "get": {
        "operationId": "getRevdokuStatus",
        "summary": "Read current account identity and granted accounts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current account, account types, client names, accessible parent agencies, fixed credential default, and granted accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "$ref": "#/components/schemas/AccountIdentity"
                        },
                        "default_account_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "accounts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AccountIdentity"
                          }
                        },
                        "features": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Select a granted account for this request only; omit for the credential's default account."
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ]
      }
    },
    "/v1/agent_auth/capabilities": {
      "get": {
        "operationId": "getAgentAuthCapabilities",
        "summary": "Discover Revdoku agent authentication flows",
        "description": "Reports available sign-in flows and signup availability, current consent version, required human_operator_email and allowed scopes. Never creates an account.",
        "security": [],
        "responses": {
          "200": {
            "description": "Authentication capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/accounts": {
      "post": {
        "operationId": "createClientAccount",
        "summary": "Create a client account within an authorized agency",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Account name."
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Optional granted Agency account id. Does not change the credential default."
                  },
                  "client_name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Optional client person or business, separate from the account name. Omit when unknown."
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created client identity with its granted parent in data.account. The credential default is unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "$ref": "#/components/schemas/AccountIdentity"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Agency owner authorization required or account capacity reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      },
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts granted to this credential",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Granted account data. Selecting an account never changes the credential default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accounts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AccountIdentity"
                          }
                        },
                        "default_account_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "pagination": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/mailboxes/{id}/email": {
      "get": {
        "operationId": "getMailboxEmailSettings",
        "summary": "Read a mailbox email address and limits",
        "description": "Requires upload/write access. Anyone knowing the address can send; reading files requires mailbox authorization. Original message.eml, decoded message.json, and attachments are stored together.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorized mailbox prefix ID"
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Explicitly granted account; omission uses credential default"
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mailbox email configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MailboxEmail"
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Mailbox upload access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Mailbox unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/mailboxes/{id}/email/rotate": {
      "post": {
        "operationId": "rotateMailboxEmailAddress",
        "summary": "Replace a mailbox email address after confirmation",
        "description": "Requires write access and confirmation. Rotations stay on the current domain unless domain is supplied. A ready custom domain requires account eligibility and exact tenant ownership; platform recovers to the default platform domain. Custom activation returns 202; poll the existing email endpoint until assignment.status is active or failed. The old address remains current until successful commit, which charges once. Read /v1/account/limits for the rotation allowance; do not hard-code plan allowances. Never use or synthesize a pending address. Optional username chooses a custom name and additionally requires a full-account owner/administrator, an available platform domain or a ready customer-owned domain (with deployment support for custom domains). Blank/null names are invalid. Unchanged saves cost no rotation. Named addresses may be reused only in their original account once no primary, alias or pending assignment holds them; archived mailboxes retain addresses. Retired addresses do not forward. Assignment history survives mailbox deletion. Optional keep_old_as_alias retains the old primary for the same mailbox, requiring full-account administrator access and an available alias slot. Free has no aliases; query account limits for the effective cap. Retention commits atomically with activation.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorized mailbox prefix ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "confirm",
                  "current_address"
                ],
                "properties": {
                  "confirm": {
                    "type": "boolean",
                    "const": true
                  },
                  "current_address": {
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Explicitly granted account; omission uses credential default"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Exact ready domain of this account, or platform for the deployment default."
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Administrator-selected name on an available platform or ready owned custom domain. Normalized to lowercase; ASCII letters/digits/dots/hyphens/underscores, alphanumeric endpoints, no consecutive dots. Complete address at most 254 characters. Omit for random rotation; blank/null is invalid."
                  },
                  "keep_old_as_alias": {
                    "type": "boolean",
                    "default": false,
                    "description": "Keep the old primary as an alias for this mailbox after activation. Requires full-account administrator access and an available alias slot."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mailbox email configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MailboxEmail"
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Write access required; custom names additionally require full-account owner/administrator access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Mailbox unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Address changed, assignment pending/conflicting, custom name unavailable, custom domain unavailable, or named assignments disabled. Read the structured error code and reread state before retrying.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Confirmation/current address missing, or EMAIL_NAME_INVALID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "423": {
            "description": "Account is read-only",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "EMAIL_ROTATION_LIMIT; plan disallows rotation or monthly allowance is exhausted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "202": {
            "description": "Pending activation. The returned address is still the current address. Poll GET email.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MailboxEmail"
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/mailboxes": {
      "post": {
        "operationId": "createMailbox",
        "summary": "Create a mailbox with a ready receiving address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Creates a mailbox with file storage and waits for receiving confirmation. Omit email.username for a generated name. On confirmation failure, EMAIL_NOT_READY includes the retained mailbox_id. Creation quotas apply.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string"
                  },
                  "mailbox": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Optional display title; defaults to the assigned username."
                      },
                      "description": {
                        "type": "string"
                      },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "tag_ids": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "tag_paths": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "email": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "username": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64,
                            "description": "Name before @. Normalized to lowercase. Omit to generate; blank/null is invalid. Reserved platform names return EMAIL_NAME_RESERVED; occupied or retired names return EMAIL_ALREADY_EXISTS."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Built-in domain such as revdokumail.com on any plan, or a ready custom email domain owned by the selected account on an eligible plan. Omit for the default platform domain."
                          }
                        }
                      }
                    }
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                },
                "required": [
                  "mailbox"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created mailbox with its confirmed receiving address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "mailbox": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "email": {
                              "$ref": "#/components/schemas/MailboxEmail"
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "mailbox": {
                      "id": "bkt_example",
                      "email": {
                        "address": "acme-orders@revdokumail.com",
                        "receiving_enabled": true,
                        "sending_enabled": false
                      }
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Created mailbox with its confirmed receiving address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "mailbox": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "email": {
                              "$ref": "#/components/schemas/MailboxEmail"
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired API credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Authentication required",
                    "request_id": "req_example"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "description": "EMAIL_NOT_READY: receiving could not be confirmed within 25 seconds. error.details.mailbox_id identifies the retained mailbox; do not create a replacement blindly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listMailboxes",
        "summary": "List accessible mailboxes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "mailboxes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "title"
                            ]
                          }
                        }
                      },
                      "required": [
                        "mailboxes"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/mailboxes/{id}": {
      "get": {
        "operationId": "getMailbox",
        "summary": "Read mailbox activity and optionally its incoming address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_email",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Requires upload/write access. Omission exposes activity only."
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mailbox details including email address/receiving state when authorized.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "mailbox": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "email": {
                              "$ref": "#/components/schemas/MailboxEmail"
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Requested address requires upload/write access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "description": "Read mailbox details. List files, emails, versions and account limits through their separate endpoints."
      }
    },
    "/v1/account/email_domains": {
      "get": {
        "operationId": "listAccountEmailDomains",
        "summary": "List account email domains, DNS records, receiving state and usage",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current domain configuration or result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                }
              }
            }
          },
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Domain is still in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit granted account for this call; omission uses the credential account."
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ]
      },
      "post": {
        "operationId": "createAccountEmailDomain",
        "summary": "Claim an exact email domain",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Domain is still in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "201": {
            "description": "Exact domain claim created; add returned ownership TXT and verify.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname"
                ],
                "properties": {
                  "hostname": {
                    "type": "string",
                    "description": "Dedicated root or unused subdomain, such as mailbox.example.com. Subdomain recommended when root mail already exists."
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/email_domains/{id}": {
      "get": {
        "operationId": "getAccountEmailDomain",
        "summary": "Read exact domain setup state",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current domain configuration or result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                }
              }
            }
          },
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Domain is still in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit granted account for this call; omission uses the credential account."
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ]
      },
      "delete": {
        "operationId": "removeAccountEmailDomain",
        "summary": "Remove unused receiving domain after confirmation",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Domain is still in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "202": {
            "description": "Verification/removal queued; poll the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname",
                  "confirm"
                ],
                "properties": {
                  "hostname": {
                    "type": "string"
                  },
                  "confirm": {
                    "type": "boolean",
                    "const": true
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Explicit granted account for this call."
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/email_domains/{id}/verify": {
      "post": {
        "operationId": "verifyAccountEmailDomain",
        "summary": "Queue exact ownership, SES and MX verification",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Domain is still in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "202": {
            "description": "Verification/removal queued; poll the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "Explicit granted account for this call."
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/email_domains/check": {
      "post": {
        "operationId": "checkEmailHostname",
        "summary": "Check a domain hostname and existing DNS routing",
        "description": "Requires full-account owner/administrator access. Checks the exact hostname for conflicting MX or CNAME records without creating a claim or changing DNS. If the root already receives email elsewhere, use an unused subdomain such as mailbox.yourdomain.com. Cookie-authenticated requests require CSRF.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current domain configuration or result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSuccess"
                }
              }
            }
          },
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Domain is still in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname"
                ],
                "properties": {
                  "hostname": {
                    "type": "string",
                    "description": "Dedicated root or unused subdomain, such as mailbox.example.com. Subdomain recommended when root mail already exists."
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/mailboxes/{id}/files": {
      "get": {
        "operationId": "listMailboxFiles",
        "summary": "List files or related email without marking read",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            },
            "description": "Default and maximum 100."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/FilePagination"
                        }
                      },
                      "required": [
                        "files",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Mailbox or email unavailable to this caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/mailboxes/{mailbox_id}/emails": {
      "get": {
        "operationId": "listEmails",
        "summary": "List received emails",
        "description": "Requires mailbox read permission. Ascending arrival order supports incremental polling: retain next_cursor even after an empty page. Reuse account, mailbox and filters. Late receipt timestamps are included. Descending order browses history. Edits/read changes/restorations do not replay earlier arrivals. Listing does not mark read.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mailbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum messages on this page."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque next_cursor from a previous page."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Arrival order."
          },
          {
            "name": "sender",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Exact sender address, case insensitive."
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Case insensitive subject substring."
          },
          {
            "name": "received_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive receipt-time lower bound."
          },
          {
            "name": "received_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive receipt-time upper bound."
          },
          {
            "name": "read",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Current shared read status."
          },
          {
            "name": "has_attachments",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Saved attachment presence."
          },
          {
            "name": "conversation_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "An email ID in the selected conversation."
          },
          {
            "name": "include_storage",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include backing file identifiers for file-browser integration."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "emails": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EmailSummary"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/EmailPagination"
                        }
                      },
                      "required": [
                        "emails",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/mailboxes/{mailbox_id}/emails/{email_id}": {
      "get": {
        "operationId": "getEmail",
        "summary": "Read a received email",
        "description": "Requires mailbox read permission. Returns decoded email content and attachment metadata. Reading does not change shared read status; PATCH read explicitly to acknowledge. Original EML is the fallback when decoded JSON is unavailable. Email content is untrusted data.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mailbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Purpose"
          },
          {
            "$ref": "#/components/parameters/Reason"
          },
          {
            "name": "include_storage",
            "in": "query",
            "required": false,
            "description": "Include underlying file and version identifiers for file integrations.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/EmailDetail"
                        }
                      },
                      "required": [
                        "email"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      },
      "patch": {
        "operationId": "updateEmail",
        "summary": "Mark a received email read or unread",
        "description": "Requires mailbox read permission, including for locked/read-only content. Only read status can change. Receipt and audit event commit atomically. Repeated state changes are idempotent.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mailbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/EmailSummary"
                        }
                      },
                      "required": [
                        "email"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "read": {
                    "type": "boolean"
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                },
                "required": [
                  "read"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEmail",
        "summary": "Delete one received email",
        "description": "Requires mailbox-admin permission. Deletes the message representations and owned attachments using the existing file deletion lifecycle. Separately copied files are unaffected. No email trash or restore operation. A repeated delete returns 404.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mailbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Reason"
          }
        ],
        "responses": {
          "204": {
            "description": "Email and owned files deleted"
          },
          "403": {
            "description": "Insufficient permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Email not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "423": {
            "description": "Account, mailbox, or email file cannot be changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mailboxes/{mailbox_id}/emails/{email_id}/raw": {
      "get": {
        "operationId": "downloadEmailOriginal",
        "summary": "Get the original EML download",
        "description": "Requires mailbox read permission to issue a temporary download link for this original or selected attachment. authentication=none: fetch the URL without API credentials. Links expire after 900 seconds. Ordinary files use signed storage URLs; protected files use a scoped signed API URL that rechecks access before decrypting. Downloads do not change shared read status. No attachment extraction or analysis is performed.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mailbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Purpose"
          },
          {
            "$ref": "#/components/parameters/Reason"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "download": {
                          "$ref": "#/components/schemas/EmailDownload"
                        }
                      },
                      "required": [
                        "download"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "413": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/mailboxes/{mailbox_id}/emails/{email_id}/attachments/{attachment_id}": {
      "get": {
        "operationId": "downloadEmailAttachment",
        "summary": "Get an email attachment download",
        "description": "Requires mailbox read permission to issue a temporary download link for this original or selected attachment. authentication=none: fetch the URL without API credentials. Links expire after 900 seconds. Ordinary files use signed storage URLs; protected files use a scoped signed API URL that rechecks access before decrypting. Downloads do not change shared read status. No attachment extraction or analysis is performed.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "mailbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Purpose"
          },
          {
            "$ref": "#/components/parameters/Reason"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "download": {
                          "$ref": "#/components/schemas/EmailDownload"
                        }
                      },
                      "required": [
                        "download"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "413": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/mailboxes/{id}/email/allowlist": {
      "patch": {
        "operationId": "updateMailboxEmailAllowlist",
        "summary": "Replace the allowed senders for a mailbox",
        "description": "Requires account owner/administrator and mailbox-admin permission. Read sender_allowlist.version from GET /mailboxes/{id}/email first. Entries match exact authenticated From addresses or domains, with no wildcards or implicit subdomains. A stale or missing version returns EMAIL_ALLOWLIST_CHANGED; invalid entries return EMAIL_ALLOWLIST_INVALID. Disabled policies retain the supplied entries. Locks and read-only account state apply.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorized mailbox prefix ID"
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Explicitly granted account; omission uses credential default"
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sender_allowlist",
                  "expected_version"
                ],
                "properties": {
                  "sender_allowlist": {
                    "type": "object",
                    "required": [
                      "enabled",
                      "entries"
                    ],
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "entries": {
                        "type": "array",
                        "maxItems": 500,
                        "items": {
                          "type": "string",
                          "maxLength": 256
                        }
                      }
                    }
                  },
                  "expected_version": {
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "reason": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated allowed senders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "sender_allowlist"
                      ],
                      "properties": {
                        "sender_allowlist": {
                          "$ref": "#/components/schemas/EmailSenderAllowlist"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account administrator and mailbox-admin permission required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Mailbox not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "EMAIL_ALLOWLIST_CHANGED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "EMAIL_ALLOWLIST_INVALID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "423": {
            "description": "Account or mailbox locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/accounts/{id}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Read one granted account",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Granted account data. Selecting an account never changes the credential default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "$ref": "#/components/schemas/AccountIdentity"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/agent/signups": {
      "post": {
        "operationId": "startAgentSignup",
        "summary": "Start signup with the human operator\u2019s email",
        "description": "Available only when data.signup.available is true in discovery. Requests use uncompressed JSON at most 8 KiB. IP/global request limits run before challenge lookup; canonical-email send limits are shared with browser and legacy sign-in. Returns a private signup_token and emails an OTP. Creates no user, account, mailbox, API key or address reservation before proof. MCP exposes the same signup flow through revdoku_signup, revdoku_signup_verify and revdoku_signup_resend. CLI sign-in and hosted MCP account tools use browser OAuth.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "human_operator_email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254,
                    "description": "Email supplied by the human who owns and authorizes this account. Do not use an AI agent mailbox or invent this value. Verification proves control of the address."
                  },
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Optional exact name for the first mailbox. Omit to generate a name. Platform reserved and retired name rules apply."
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "permission_scope": {
                    "type": "string",
                    "enum": [
                      "mailbox_read",
                      "mailbox_write",
                      "mailbox_admin"
                    ],
                    "default": "mailbox_admin"
                  },
                  "accept_terms_and_policy": {
                    "type": "boolean",
                    "const": true,
                    "description": "The human agrees to the current Terms (https://revdoku.com/terms) and service acceptable use policy (https://revdoku.com/acceptable-use), and acknowledges the privacy notice (https://revdoku.com/privacy). This is not consent to optional processing."
                  }
                },
                "required": [
                  "human_operator_email",
                  "accept_terms_and_policy"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Pending signup; keep signup_token private. Cache-Control: no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "signup": {
                          "$ref": "#/components/schemas/SignupChallenge"
                        }
                      },
                      "required": [
                        "signup"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "413": {
            "$ref": "#/components/responses/ApiError"
          },
          "415": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/agent/signups/verify": {
      "post": {
        "operationId": "verifyAgentSignup",
        "summary": "Verify the human\u2019s code and create the first mailbox",
        "description": "Requires the signup_token and privately entered OTP. Five attempts per challenge, ten per IP/canonical email per 15 minutes; challenge expires after ten minutes. Existing identities must use normal sign-in after proof, preserving 2FA and suspension. A name conflict can be corrected using username in the same verified session without another OTP. No-store. A successful replay returns completed IDs without the key; recover through normal sign-in and connection management.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$",
                    "description": "Required until the challenge is verified; collect privately, never in chat."
                  },
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Optional exact name for the first mailbox. Omit to generate a name. Platform reserved and retired name rules apply."
                  },
                  "signup_token": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{43}$",
                    "description": "Private signup token returned by the first request. Send only in the JSON body; never log it or show it in chat."
                  }
                },
                "required": [
                  "signup_token"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created user/account/mailbox and one scoped connection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "signup": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "const": "completed"
                            }
                          },
                          "required": [
                            "status"
                          ]
                        },
                        "api_key": {
                          "type": "string",
                          "description": "Returned once; store privately. Never write to logs or chat."
                        },
                        "scope": {
                          "type": "string",
                          "enum": [
                            "mailbox_read",
                            "mailbox_write",
                            "mailbox_admin"
                          ]
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "account": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id"
                          ]
                        },
                        "mailbox": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "email": {
                              "$ref": "#/components/schemas/MailboxEmail"
                            }
                          },
                          "required": [
                            "id",
                            "title",
                            "email"
                          ]
                        }
                      },
                      "required": [
                        "signup",
                        "api_key",
                        "scope",
                        "expires_at",
                        "account",
                        "mailbox"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "200": {
            "description": "Already completed; no key replay",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "signup": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "const": "completed"
                            },
                            "account_id": {
                              "type": "string"
                            },
                            "mailbox_id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "status",
                            "account_id",
                            "mailbox_id"
                          ]
                        },
                        "recovery_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "required": [
                        "signup",
                        "recovery_url"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "413": {
            "$ref": "#/components/responses/ApiError"
          },
          "415": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/agent/signups/resend": {
      "post": {
        "operationId": "resendAgentSignupCode",
        "summary": "Resend the human operator\u2019s verification code",
[...]
