{
  "openapi": "3.1.0",
  "info": {
    "title": "Revdoku public agent API",
    "version": "1.0.0",
    "description": "Selected Revdoku discovery and client-account endpoints. The full REST API manages buckets, files, versions, publications, access settings, forms, and analytics. Signup is browser-only. Existing Pro Agency owners can explicitly authorize credentials for their client accounts. This document covers selected endpoints; see https://revdoku.com/api.md for the complete bucket, file, and publishing API."
  },
  "servers": [
    {
      "url": "https://app.revdoku.com",
      "description": "Revdoku application API"
    }
  ],
  "paths": {
    "/api/v1/status": {
      "get": {
        "operationId": "getRevdokuStatus",
        "summary": "Read current account identity and granted accounts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current account, account types, client names, accessible parent agencies, fixed credential default, and granted accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "$ref": "#/components/schemas/AccountIdentity"
                        },
                        "default_account_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "accounts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AccountIdentity"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Select a granted account for this request only; omit for the credential's default account."
          }
        ]
      }
    },
    "/api/v1/agent_auth/capabilities": {
      "get": {
        "operationId": "getAgentAuthCapabilities",
        "summary": "Discover Revdoku agent authentication flows",
        "description": "This endpoint never creates an account.",
        "security": [],
        "responses": {
          "200": {
            "description": "Authentication capabilities"
          }
        }
      }
    },
    "/api/v1/accounts": {
      "post": {
        "operationId": "createClientAccount",
        "summary": "Create a client account on Pro Agency",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Account name."
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Optional granted Agency account id. Does not change the credential default."
                  },
                  "client_name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Optional client person or business, separate from the account name. Omit when unknown."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created client identity with its granted parent in data.account. The credential default is unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "$ref": "#/components/schemas/AccountIdentity"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Agency owner authorization required or account capacity reached"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "AccountIdentity": {
        "type": "object",
        "required": [
          "id",
          "name",
          "account_kind",
          "client_name",
          "agency_account"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Account name, separate from the client person or business."
          },
          "account_kind": {
            "type": "string",
            "enum": [
              "standard",
              "agency",
              "client"
            ]
          },
          "kind": {
            "type": "string",
            "enum": [
              "standard",
              "agency",
              "client"
            ],
            "description": "Compatibility alias for account_kind."
          },
          "client_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "description": "Client person or business name, or null when unset."
          },
          "agency_account": {
            "type": [
              "object",
              "null"
            ],
            "description": "Parent agency only when granted to this credential. Null does not make a client independent.",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
