{
  "openapi": "3.1.0",
  "info": {
    "title": "Revdoku public agent API",
    "version": "1.0.0",
    "description": "Email inboxes for people and AI agents, with private file storage. Create inboxes, read messages and attachments, and store additional files. Email sending: Coming soon. Signup is browser-only. This document covers selected endpoints; see https://revdoku.com/api.md for the complete API."
  },
  "servers": [
    {
      "url": "https://app.revdoku.com",
      "description": "Revdoku application API"
    }
  ],
  "paths": {
    "/api/v1/status": {
      "get": {
        "operationId": "getRevdokuStatus",
        "summary": "Read current account identity and granted accounts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current account, account types, client names, accessible parent agencies, fixed credential default, and granted accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "$ref": "#/components/schemas/AccountIdentity"
                        },
                        "default_account_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "accounts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AccountIdentity"
                          }
                        },
                        "features": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Select a granted account for this request only; omit for the credential's default account."
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ]
      }
    },
    "/api/v1/agent_auth/capabilities": {
      "get": {
        "operationId": "getAgentAuthCapabilities",
        "summary": "Discover Revdoku agent authentication flows",
        "description": "This endpoint never creates an account.",
        "security": [],
        "responses": {
          "200": {
            "description": "Authentication capabilities"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/api/v1/accounts": {
      "post": {
        "operationId": "createClientAccount",
        "summary": "Create a client account within an authorized agency",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Account name."
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Optional granted Agency account id. Does not change the credential default."
                  },
                  "client_name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Optional client person or business, separate from the account name. Omit when unknown."
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created client identity with its granted parent in data.account. The credential default is unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "$ref": "#/components/schemas/AccountIdentity"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Agency owner authorization required or account capacity reached"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/api/v1/buckets/{id}/email": {
      "get": {
        "operationId": "getBucketEmailSettings",
        "summary": "Read a bucket email address and limits",
        "description": "Requires upload/write access. Anyone knowing the address can send; reading files requires bucket authorization. Original message.eml, decoded message.json, and attachments are stored together.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorized bucket prefix ID"
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Explicitly granted account; omission uses credential default"
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bucket email configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BucketEmail"
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Bucket upload access required"
          },
          "404": {
            "description": "Bucket unavailable"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/api/v1/buckets/{id}/email/rotate": {
      "post": {
        "operationId": "rotateBucketEmailAddress",
        "summary": "Replace a bucket email address after confirmation",
        "description": "Requires write access and confirmation. Rotations stay on the current domain unless domain is supplied. A ready custom domain requires account eligibility and exact tenant ownership; platform recovers to the default platform domain. Custom activation returns 202; poll the existing email endpoint until assignment.status is active or failed. The old address remains current until successful commit, which charges once. Use the returned rotation availability; do not hard-code plan allowances. Never use or synthesize a pending address. Optional local_part chooses a custom name and additionally requires a full-account owner/administrator, an explicit ready customer-owned domain, and deployment support. Blank/null names are invalid. Unchanged saves cost no rotation. Named addresses may be reused only in their original account once no bucket currently holds or is awaiting them; archived buckets retain addresses. Retired addresses do not forward. Assignment history survives bucket deletion.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorized bucket prefix ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "confirm",
                  "current_address"
                ],
                "properties": {
                  "confirm": {
                    "type": "boolean",
                    "const": true
                  },
                  "current_address": {
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Explicitly granted account; omission uses credential default"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Exact ready domain of this account, or platform for the deployment default."
                  },
                  "idempotency_key": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9_-]{8,80}$",
                    "description": "Reuse the same key when retrying this address activation."
                  },
                  "local_part": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Administrator-selected name on an explicit ready custom domain. Normalized to lowercase; ASCII letters/digits/dots/hyphens/underscores, alphanumeric endpoints, no consecutive dots. Complete address at most 254 characters. Omit for random rotation; blank/null is invalid."
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bucket email configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BucketEmail"
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Write access required; custom names additionally require full-account owner/administrator access."
          },
          "404": {
            "description": "Bucket unavailable"
          },
          "409": {
            "description": "Address changed, assignment pending/conflicting, custom name unavailable, custom domain unavailable, or named assignments disabled. Read the structured error code and reread state before retrying."
          },
          "422": {
            "description": "Confirmation/current address missing, or EMAIL_NAME_INVALID."
          },
          "423": {
            "description": "Account is read-only"
          },
          "429": {
            "description": "EMAIL_ROTATION_LIMIT; plan disallows rotation or monthly allowance is exhausted."
          },
          "202": {
            "description": "Pending activation. The returned address is still the current address. Poll GET email.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BucketEmail"
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/api/v1/buckets": {
      "post": {
        "operationId": "createBucket",
        "summary": "Create a private bucket and assign its email address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Create a bucket with admin access. Reuse idempotency_key and identical settings for safe retries; replays return the retained bucket and do not consume another monthly creation. Keys are scoped to the account and retained until bucket deletion. Conflicting settings return IDEMPOTENCY_KEY_REUSED.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string"
                  },
                  "bucket": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "tag_ids": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "tag_paths": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  },
                  "idempotency_key": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9._:-]{1,200}$"
                  }
                },
                "required": [
                  "bucket"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bucket details including email address/receiving state when authorized.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bucket": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "email": {
                              "$ref": "#/components/schemas/BucketEmail"
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "bucket": {
                      "id": "bkt_example",
                      "email": {
                        "address": "assigned.address@revdokumail.com",
                        "ready": false
                      }
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Bucket details including email address/receiving state when authorized.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bucket": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "email": {
                              "$ref": "#/components/schemas/BucketEmail"
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired API credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Authentication required",
                    "request_id": "req_example"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      },
      "get": {
        "operationId": "listBuckets",
        "summary": "List accessible buckets",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "idempotency_key",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "buckets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "title"
                            ]
                          }
                        }
                      },
                      "required": [
                        "buckets"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/api/v1/buckets/{id}": {
      "get": {
        "operationId": "getBucket",
        "summary": "Read bucket activity and optionally its incoming address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_email",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Requires upload/write access. Omission exposes activity only."
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bucket details including email address/receiving state when authorized.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bucket": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "email": {
                              "$ref": "#/components/schemas/BucketEmail"
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Requested address requires upload/write access."
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/api/v1/account/email_domains": {
      "get": {
        "operationId": "listAccountEmailDomains",
        "summary": "List account email domains, DNS records, receiving state and usage",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current domain configuration or result"
          },
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required"
          },
          "409": {
            "description": "Domain is still in use"
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation"
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After"
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit granted account for this call; omission uses the credential account."
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ]
      },
      "post": {
        "operationId": "createAccountEmailDomain",
        "summary": "Claim an exact email domain",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required"
          },
          "409": {
            "description": "Domain is still in use"
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation"
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After"
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true"
          },
          "201": {
            "description": "Exact domain claim created; add returned ownership TXT and verify."
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname"
                ],
                "properties": {
                  "hostname": {
                    "type": "string",
                    "description": "Dedicated root or unused subdomain, such as inbox.example.com. Subdomain recommended when root mail already exists."
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/email_domains/{id}": {
      "get": {
        "operationId": "getAccountEmailDomain",
        "summary": "Read exact domain setup state",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current domain configuration or result"
          },
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required"
          },
          "409": {
            "description": "Domain is still in use"
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation"
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After"
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit granted account for this call; omission uses the credential account."
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ]
      },
      "delete": {
        "operationId": "removeAccountEmailDomain",
        "summary": "Remove unused receiving domain after confirmation",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required"
          },
          "409": {
            "description": "Domain is still in use"
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation"
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After"
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true"
          },
          "202": {
            "description": "Verification/removal queued; poll the resource"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname",
                  "confirm"
                ],
                "properties": {
                  "hostname": {
                    "type": "string"
                  },
                  "confirm": {
                    "type": "boolean",
                    "const": true
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Explicit granted account for this call."
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/email_domains/{id}/verify": {
      "post": {
        "operationId": "verifyAccountEmailDomain",
        "summary": "Queue exact ownership, SES and MX verification",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required"
          },
          "409": {
            "description": "Domain is still in use"
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation"
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After"
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true"
          },
          "202": {
            "description": "Verification/removal queued; poll the resource"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "Explicit granted account for this call."
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/email_domains/check": {
      "post": {
        "operationId": "checkEmailHostname",
        "summary": "Validate and classify a root domain or subdomain",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current domain configuration or result"
          },
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required"
          },
          "409": {
            "description": "Domain is still in use"
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation"
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After"
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname"
                ],
                "properties": {
                  "hostname": {
                    "type": "string",
                    "description": "Dedicated root or unused subdomain, such as inbox.example.com. Subdomain recommended when root mail already exists."
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/buckets/{id}/files": {
      "get": {
        "operationId": "listBucketFiles",
        "summary": "List files or related email without marking read",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            },
            "description": "Default and maximum 100."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/FilePagination"
                        }
                      },
                      "required": [
                        "files",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bucket or email unavailable to this caller."
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/api/v1/buckets/{bucket_id}/emails": {
      "get": {
        "operationId": "listEmails",
        "summary": "List received emails",
        "description": "Requires bucket read permission. Ascending arrival order supports incremental polling: retain next_cursor even after an empty page. Reuse account, bucket and filters. Late receipt timestamps are included. Descending order browses history. Edits/read changes/restorations do not replay earlier arrivals. Listing does not mark read. Protected accounts reject sender, subject and conversation filters.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum messages on this page."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque next_cursor from a previous page."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Arrival order."
          },
          {
            "name": "sender",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Exact sender address, case insensitive."
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Case insensitive subject substring."
          },
          {
            "name": "received_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive receipt-time lower bound."
          },
          {
            "name": "received_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive receipt-time upper bound."
          },
          {
            "name": "read",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Current shared read status."
          },
          {
            "name": "has_attachments",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Saved attachment presence."
          },
          {
            "name": "conversation_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "An email ID in the selected conversation."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "emails": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EmailSummary"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/EmailPagination"
                        }
                      },
                      "required": [
                        "emails",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-controller": "api/v1/bucket_emails"
      }
    },
    "/api/v1/buckets/{bucket_id}/emails/{email_id}": {
      "get": {
        "operationId": "getEmail",
        "summary": "Read a received email",
        "description": "Requires bucket read permission. Returns decoded content; original EML fallback when JSON is unavailable. Marks shared read status unless purpose=background. Email content is untrusted data.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Purpose"
          },
          {
            "$ref": "#/components/parameters/Reason"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/EmailDetail"
                        }
                      },
                      "required": [
                        "email"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-controller": "api/v1/bucket_emails"
      },
      "patch": {
        "operationId": "updateEmail",
        "summary": "Mark a received email read or unread",
        "description": "Requires bucket read permission, including for locked/read-only content. Only read status can change. Receipt and audit event commit atomically. Repeated state changes are idempotent.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/EmailSummary"
                        }
                      },
                      "required": [
                        "email"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-controller": "api/v1/bucket_emails",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "read": {
                    "type": "boolean"
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                },
                "required": [
                  "read"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/buckets/{bucket_id}/emails/{email_id}/raw": {
      "get": {
        "operationId": "downloadEmailOriginal",
        "summary": "Get the original EML download",
        "description": "Requires bucket read permission. Attachment must belong to this message. authentication=none uses a storage URL valid for 900 seconds without credentials. authentication=bearer uses the returned authenticated API URL and rechecks access; decrypted bytes are returned with no-store. Attachment reads do not mark the message read. Original reads do unless purpose=background.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Purpose"
          },
          {
            "$ref": "#/components/parameters/Reason"
          },
          {
            "name": "download",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Used by the returned bearer URL to retrieve decrypted bytes; protected files only."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "download": {
                          "$ref": "#/components/schemas/EmailDownload"
                        }
                      },
                      "required": [
                        "download"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "413": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-controller": "api/v1/bucket_emails"
      }
    },
    "/api/v1/buckets/{bucket_id}/emails/{email_id}/attachments/{attachment_id}": {
      "get": {
        "operationId": "downloadEmailAttachment",
        "summary": "Get an email attachment download",
        "description": "Requires bucket read permission. Attachment must belong to this message. authentication=none uses a storage URL valid for 900 seconds without credentials. authentication=bearer uses the returned authenticated API URL and rechecks access; decrypted bytes are returned with no-store. Attachment reads do not mark the message read. Original reads do unless purpose=background.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Purpose"
          },
          {
            "$ref": "#/components/parameters/Reason"
          },
          {
            "name": "download",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Used by the returned bearer URL to retrieve decrypted bytes; protected files only."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "download": {
                          "$ref": "#/components/schemas/EmailDownload"
                        }
                      },
                      "required": [
                        "download"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "413": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-controller": "api/v1/bucket_emails"
      }
    },
    "/api/v1/buckets/{id}/email/allowlist": {
      "patch": {
        "operationId": "updateBucketEmailAllowlist",
        "summary": "Replace the allowed senders for a bucket",
        "description": "Requires account owner/administrator and bucket-admin permission. Read sender_allowlist.version from GET /buckets/{id}/email first. Entries match exact authenticated From addresses or domains, with no wildcards or implicit subdomains. A stale or missing version returns EMAIL_ALLOWLIST_CHANGED; invalid entries return EMAIL_ALLOWLIST_INVALID. Disabled policies retain the supplied entries. Locks and read-only account state apply.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorized bucket prefix ID"
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Explicitly granted account; omission uses credential default"
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sender_allowlist",
                  "expected_version"
                ],
                "properties": {
                  "sender_allowlist": {
                    "type": "object",
                    "required": [
                      "enabled",
                      "entries"
                    ],
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "entries": {
                        "type": "array",
                        "maxItems": 500,
                        "items": {
                          "type": "string",
                          "maxLength": 256
                        }
                      }
                    }
                  },
                  "expected_version": {
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "reason": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated allowed senders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "sender_allowlist"
                      ],
                      "properties": {
                        "sender_allowlist": {
                          "$ref": "#/components/schemas/EmailSenderAllowlist"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account administrator and bucket-admin permission required"
          },
          "404": {
            "description": "Bucket not found"
          },
          "409": {
            "description": "EMAIL_ALLOWLIST_CHANGED"
          },
          "422": {
            "description": "EMAIL_ALLOWLIST_INVALID"
          },
          "423": {
            "description": "Account or bucket locked"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-controller": "api/v1/buckets",
        "x-action": "update_email_allowlist"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "AccountIdentity": {
        "type": "object",
        "required": [
          "id",
          "name",
          "account_kind",
          "client_name",
          "agency_account"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Account name, separate from the client person or business."
          },
          "account_kind": {
            "type": "string",
            "enum": [
              "standard",
              "agency",
              "client"
            ]
          },
          "kind": {
            "type": "string",
            "enum": [
              "standard",
              "agency",
              "client"
            ],
            "description": "Compatibility alias for account_kind."
          },
          "client_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "description": "Client person or business name, or null when unset."
          },
          "agency_account": {
            "type": [
              "object",
              "null"
            ],
            "description": "Parent agency only when granted to this credential. Null does not make a client independent.",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "BucketEmail": {
        "type": "object",
        "description": "Receiving address/state on creation and authorized opt-in reads. Ordinary bucket reads expose activity only; use the emails collection for a durable arrival cursor.",
        "properties": {
          "address": {
            "type": [
              "string",
              "null"
            ]
          },
          "configured": {
            "type": "boolean"
          },
          "monthly_limit": {
            "type": "integer"
          },
          "received_count": {
            "type": "integer",
            "minimum": 0
          },
          "last_received_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "max_file_size_bytes": {
            "type": "integer"
          },
          "max_pdf_size_bytes": {
            "type": "integer"
          },
          "last_received_path": {
            "type": [
              "string",
              "null"
            ],
            "description": "Latest message folder with trailing slash; null before receipt. May become stale after manual file moves/deletion."
          },
          "ready": {
            "type": "boolean",
            "description": "Configuration/account/bucket state and last observed platform receiving pause. Missing or stale status returns false. Observations normally refresh within five minutes; not a delivery guarantee or reserved capacity."
          },
          "blocked_reason": {
            "description": "Includes global_receiving_paused, abuse_receiving_paused, receiving_status_unavailable and account/bucket/quota reasons. Null when ready.",
            "type": [
              "string",
              "null"
            ]
          },
          "rotation": {
            "type": "object",
            "properties": {
              "monthly_limit": {
                "type": "integer",
                "minimum": 0
              },
              "used": {
                "type": "integer",
                "minimum": 0
              },
              "remaining": {
                "type": "integer",
                "minimum": 0
              },
              "resets_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "domain": {
            "type": [
              "string",
              "null"
            ]
          },
          "custom_domain": {
            "type": "boolean"
          },
          "available_domains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "hostname": {
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "platform",
                    "custom"
                  ]
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "used": {
                "type": "integer",
                "minimum": 0
              },
              "monthly_limit": {
                "type": "integer",
                "minimum": 0
              },
              "remaining": {
                "type": "integer",
                "minimum": 0
              },
              "bytes_used": {
                "type": "integer",
                "minimum": 0
              },
              "monthly_bytes_limit": {
                "type": "integer",
                "minimum": 0
              },
              "bytes_remaining": {
                "type": "integer",
                "minimum": 0
              },
              "max_message_bytes": {
                "type": "integer",
                "minimum": 0
              },
              "resets_at": {
                "type": "string",
                "format": "date-time"
              },
              "paused": {
                "type": "boolean"
              },
              "pause_reason": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "assignment": {
            "type": "object",
            "description": "No candidate address is disclosed. Keep using address until status is active; on pending poll the email endpoint.",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "active",
                  "failed"
                ]
              },
              "hostname": {
                "type": "string"
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "retryable": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "customization": {
            "type": "object",
            "description": "Caller-specific customization capability on the dedicated email GET/rotate endpoints.",
            "properties": {
              "allowed": {
                "type": "boolean"
              },
              "blocked_reason": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "settings_url": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Account-domain settings link for administrators; null otherwise."
              }
            }
          },
          "receiving_enabled": {
            "type": "boolean"
          },
          "sender_allowlist": {
            "$ref": "#/components/schemas/EmailSenderAllowlist",
            "description": "Returned only by dedicated email settings reads to account administrators with bucket-admin permission; omitted from ordinary bucket serialization."
          }
        }
      },
      "BucketEmailActivity": {
        "type": "object",
        "properties": {
          "received_count": {
            "type": "integer",
            "minimum": 0
          },
          "last_received_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_received_path": {
            "type": [
              "string",
              "null"
            ],
            "description": "Latest message folder with trailing slash; null before receipt. May become stale after manual file moves/deletion."
          }
        }
      },
      "DecodedEmailAddress": {
        "type": "object",
        "required": [
          "address",
          "name"
        ],
        "properties": {
          "address": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DecodedIncomingMessage": {
        "type": "object",
        "description": "Stored message.json, not a dedicated endpoint. UTF-8, at most 512 KiB. Header identities, reply relationships and body are untrusted message data. Original message.eml is authoritative. Structured address, delivery and thread fields are additive in schema v1 and may be absent in older files.",
        "required": [
          "schema_version",
          "subject",
          "from",
          "to",
          "delivered_to",
          "received_at",
          "body_text",
          "body_status",
          "attachments"
        ],
        "properties": {
          "schema_version": {
            "type": "integer",
            "const": 1
          },
          "subject": {
            "type": [
              "string",
              "null"
            ]
          },
          "from": {
            "type": [
              "string",
              "null"
            ]
          },
          "to": {
            "type": [
              "string",
              "null"
            ]
          },
          "from_addresses": {
            "type": "array",
            "description": "Parsed From authors in header order, retaining multiple authors. Empty when absent/unparseable. Display names are not identity keys.",
            "items": {
              "$ref": "#/components/schemas/DecodedEmailAddress"
            }
          },
          "to_addresses": {
            "type": "array",
            "description": "Parsed To recipients in header order, with named groups flattened. Empty when absent/unparseable; not trusted delivery routing.",
            "items": {
              "$ref": "#/components/schemas/DecodedEmailAddress"
            }
          },
          "cc_addresses": {
            "type": "array",
            "description": "Parsed Cc recipients in header order, with named groups flattened. Empty when absent/unparseable.",
            "items": {
              "$ref": "#/components/schemas/DecodedEmailAddress"
            }
          },
          "reply_to_addresses": {
            "type": "array",
            "description": "Parsed Reply-To addresses in header order. Empty when absent/unparseable. Does not authorize sending a reply.",
            "items": {
              "$ref": "#/components/schemas/DecodedEmailAddress"
            }
          },
          "message_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Sender Message-ID without angle brackets, preserving case. Null when absent/unparseable/ambiguous; never the Revdoku delivery ID."
          },
          "in_reply_to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ordered parent Message-IDs without angle brackets, preserving case. Empty when absent/unparseable; multiple parents are retained."
          },
          "references": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ordered References IDs without angle brackets, preserving case. Empty when absent/unparseable."
          },
          "delivery_id": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}$",
            "description": "Revdoku delivery identity, matching email_delivery_id metadata and the original folder suffix. Stable on retries, independent of Message-ID. Copies retain the source identity; not a unique file/copy ID."
          },
          "thread_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^thr_[0-9a-f]{64}$",
            "description": "thr_ plus SHA-256 of thread_anchor_message_id. Best-effort header-derived grouping hint, not authoritative conversation membership or an access grant. Missing ancestry or reused IDs can split/merge hints. Scope lookups to accessible buckets."
          },
          "thread_id_source": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "references",
              "in_reply_to",
              "message_id",
              null
            ]
          },
          "thread_anchor_message_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "First References ID, otherwise the sole In-Reply-To ID, otherwise this message's ID if no parent is available. Null without an anchor or when multiple parents lack References."
          },
          "delivered_to": {
            "type": "string"
          },
          "received_at": {
            "type": "string",
            "format": "date-time"
          },
          "body_text": {
            "type": [
              "string",
              "null"
            ]
          },
          "body_status": {
            "type": "string",
            "enum": [
              "complete",
              "empty",
              "truncated",
              "unavailable"
            ]
          },
          "omitted_attachment_count": {
            "type": "integer",
            "minimum": 1
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "path",
                "original_filename",
                "content_type",
                "size_bytes"
              ],
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Relative to message folder."
                },
                "original_filename": {
                  "type": "string"
                },
                "content_type": {
                  "type": "string"
                },
                "size_bytes": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          }
        }
      },
      "ActionReason": {
        "type": [
          "string",
          "null"
        ],
        "maxLength": 2000,
        "description": "Optional purpose for this action. AI agents should explain intentional reads and changes when known; omit when unknown. Do not include secrets, file contents, or transcripts."
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "success": {
            "const": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "minLength": 1
              },
              "message": {
                "type": "string",
                "minLength": 1
              },
              "details": {
                "oneOf": [
                  {
                    "type": "object",
                    "additionalProperties": true
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "field": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "field",
                        "message"
                      ]
                    }
                  }
                ]
              },
              "request_id": {
                "type": "string"
              },
              "docs_url": {
                "type": "string",
                "format": "uri"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "recoverable": {
                "type": "boolean"
              },
              "next_action": {
                "type": "string"
              },
              "browser_url": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "success",
          "error"
        ],
        "not": {
          "anyOf": [
            {
              "required": [
                "data"
              ]
            },
            {
              "required": [
                "error_message"
              ]
            }
          ]
        }
      },
      "EmailPagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string"
          }
        },
        "required": [
          "limit",
          "has_more",
          "next_cursor"
        ]
      },
      "EmailSummary": {
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "integer",
            "const": 1
          },
          "subject": {
            "type": [
              "string",
              "null"
            ]
          },
          "from": {
            "type": [
              "string",
              "null"
            ]
          },
          "to": {
            "type": [
              "string",
              "null"
            ]
          },
          "from_addresses": {
            "type": "array",
            "description": "Parsed From authors in header order, retaining multiple authors. Empty when absent/unparseable. Display names are not identity keys.",
            "items": {
              "$ref": "#/components/schemas/DecodedEmailAddress"
            }
          },
          "to_addresses": {
            "type": "array",
            "description": "Parsed To recipients in header order, with named groups flattened. Empty when absent/unparseable; not trusted delivery routing.",
            "items": {
              "$ref": "#/components/schemas/DecodedEmailAddress"
            }
          },
          "cc_addresses": {
            "type": "array",
            "description": "Parsed Cc recipients in header order, with named groups flattened. Empty when absent/unparseable.",
            "items": {
              "$ref": "#/components/schemas/DecodedEmailAddress"
            }
          },
          "reply_to_addresses": {
            "type": "array",
            "description": "Parsed Reply-To addresses in header order. Empty when absent/unparseable. Does not authorize sending a reply.",
            "items": {
              "$ref": "#/components/schemas/DecodedEmailAddress"
            }
          },
          "message_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Sender Message-ID without angle brackets, preserving case. Null when absent/unparseable/ambiguous; never the Revdoku delivery ID."
          },
          "in_reply_to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ordered parent Message-IDs without angle brackets, preserving case. Empty when absent/unparseable; multiple parents are retained."
          },
          "references": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ordered References IDs without angle brackets, preserving case. Empty when absent/unparseable."
          },
          "thread_id": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^thr_[0-9a-f]{64}$",
            "description": "thr_ plus SHA-256 of thread_anchor_message_id. Best-effort header-derived grouping hint, not authoritative conversation membership or an access grant. Missing ancestry or reused IDs can split/merge hints. Scope lookups to accessible buckets."
          },
          "delivered_to": {
            "type": "string"
          },
          "received_at": {
            "type": "string",
            "format": "date-time"
          },
          "body_status": {
            "type": "string",
            "enum": [
              "complete",
              "empty",
              "truncated",
              "unavailable"
            ]
          },
          "omitted_attachment_count": {
            "type": "integer",
            "minimum": 1
          },
          "id": {
            "type": "string",
            "pattern": "^eml_"
          },
          "conversation_id": {
            "type": "string",
            "pattern": "^eml_"
          },
          "file_id": {
            "type": "string",
            "pattern": "^df_"
          },
          "version_id": {
            "type": "string",
            "pattern": "^dfrev_"
          },
          "attachment_count": {
            "type": "integer",
            "minimum": 0
          },
          "read": {
            "type": "boolean"
          },
          "read_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "read_by": {
            "type": [
              "object",
              "null"
            ]
          },
          "read_by_api_key": {
            "type": [
              "object",
              "null"
            ]
          },
          "files": {
            "type": "object",
            "properties": {
              "body_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "original_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "attachment_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "body_id",
              "original_id",
              "attachment_ids"
            ]
          }
        },
        "required": [
          "id",
          "conversation_id",
          "received_at",
          "attachment_count",
          "file_id",
          "version_id",
          "files",
          "read",
          "read_at",
          "read_by",
          "read_by_api_key"
        ]
      },
      "EmailAttachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^df_"
          },
          "filename": {
            "type": "string"
          },
          "content_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "size_bytes": {
            "type": "integer",
            "minimum": 0
          },
          "version_id": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "filename",
          "content_type",
          "size_bytes",
          "version_id"
        ]
      },
      "EmailDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EmailSummary"
          },
          {
            "type": "object",
            "properties": {
              "body_text": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "body_status": {
                "type": "string",
                "enum": [
                  "complete",
                  "empty",
                  "truncated",
                  "unavailable"
                ]
              },
              "attachments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmailAttachment"
                }
              }
            },
            "required": [
              "body_text",
              "body_status",
              "attachments"
            ]
          }
        ]
      },
      "EmailDownload": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "authentication": {
            "type": "string",
            "enum": [
              "none",
              "bearer"
            ]
          },
          "filename": {
            "type": "string"
          },
          "content_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "expires_in": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "url",
          "authentication",
          "filename",
          "content_type",
          "expires_in"
        ]
      },
      "FilePagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "next_offset": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "limit",
          "offset",
          "count",
          "total",
          "has_more",
          "next_offset"
        ]
      },
      "EmailSenderAllowlist": {
        "type": "object",
        "required": [
          "enabled",
          "entries",
          "version",
          "max_entries",
          "editable"
        ],
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "entries": {
            "type": "array",
            "maxItems": 500,
            "items": {
              "type": "string"
            }
          },
          "version": {
            "type": "string"
          },
          "max_entries": {
            "type": "integer"
          },
          "editable": {
            "type": "boolean"
          }
        }
      }
    },
    "responses": {
      "ApiError": {
        "description": "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING includes Retry-After: 5.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      }
    },
    "parameters": {
      "AccountId": {
        "name": "account_id",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Select another granted account; otherwise use the credential default."
      },
      "Purpose": {
        "name": "purpose",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "open",
            "background"
          ],
          "default": "open"
        },
        "description": "Background reads do not change read status."
      },
      "Reason": {
        "name": "reason",
        "in": "query",
        "schema": {
          "$ref": "#/components/schemas/ActionReason"
        }
      }
    }
  }
}
