{
  "openapi": "3.1.0",
  "info": {
    "title": "Revdoku public agent API",
    "version": "1.0.0",
    "description": "Email inboxes for people and AI agents, with private file storage. Create inboxes, read messages and attachments, and store additional files. Direct API signup requires verification of the human operator email. This document covers selected endpoints; see https://revdoku.com/api.md for the complete API."
  },
  "servers": [
    {
      "url": "https://api.revdoku.com",
      "description": "Revdoku application API"
    }
  ],
  "paths": {
    "/v1/status": {
      "get": {
        "operationId": "getRevdokuStatus",
        "summary": "Read current account identity and granted accounts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current account, account types, client names, accessible parent agencies, fixed credential default, and granted accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "$ref": "#/components/schemas/AccountIdentity"
                        },
                        "default_account_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "accounts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AccountIdentity"
                          }
                        },
                        "features": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Select a granted account for this request only; omit for the credential's default account."
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ]
      }
    },
    "/v1/agent_auth/capabilities": {
      "get": {
        "operationId": "getAgentAuthCapabilities",
        "summary": "Discover Revdoku agent authentication flows",
        "description": "Reports available sign-in flows and signup availability, current consent version, required human_operator_email and allowed scopes. Never creates an account.",
        "security": [],
        "responses": {
          "200": {
            "description": "Authentication capabilities"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/accounts": {
      "post": {
        "operationId": "createClientAccount",
        "summary": "Create a client account within an authorized agency",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Account name."
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Optional granted Agency account id. Does not change the credential default."
                  },
                  "client_name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Optional client person or business, separate from the account name. Omit when unknown."
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created client identity with its granted parent in data.account. The credential default is unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "$ref": "#/components/schemas/AccountIdentity"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Agency owner authorization required or account capacity reached"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      },
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts granted to this credential",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Granted account data. Selecting an account never changes the credential default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accounts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AccountIdentity"
                          }
                        },
                        "default_account_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "pagination": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/buckets/{id}/email": {
      "get": {
        "operationId": "getBucketEmailSettings",
        "summary": "Read a bucket email address and limits",
        "description": "Requires upload/write access. Anyone knowing the address can send; reading files requires bucket authorization. Original message.eml, decoded message.json, and attachments are stored together.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorized bucket prefix ID"
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Explicitly granted account; omission uses credential default"
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bucket email configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BucketEmail"
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Bucket upload access required"
          },
          "404": {
            "description": "Bucket unavailable"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/buckets/{id}/email/rotate": {
      "post": {
        "operationId": "rotateBucketEmailAddress",
        "summary": "Replace a bucket email address after confirmation",
        "description": "Requires write access and confirmation. Rotations stay on the current domain unless domain is supplied. A ready custom domain requires account eligibility and exact tenant ownership; platform recovers to the default platform domain. Custom activation returns 202; poll the existing email endpoint until assignment.status is active or failed. The old address remains current until successful commit, which charges once. Read /v1/account/limits for the rotation allowance; do not hard-code plan allowances. Never use or synthesize a pending address. Optional username chooses a custom name and additionally requires a full-account owner/administrator, an explicit ready customer-owned domain, and deployment support. Blank/null names are invalid. Unchanged saves cost no rotation. Named addresses may be reused only in their original account once no bucket currently holds or is awaiting them; archived buckets retain addresses. Retired addresses do not forward. Assignment history survives bucket deletion.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorized bucket prefix ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "confirm",
                  "current_address"
                ],
                "properties": {
                  "confirm": {
                    "type": "boolean",
                    "const": true
                  },
                  "current_address": {
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Explicitly granted account; omission uses credential default"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Exact ready domain of this account, or platform for the deployment default."
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Administrator-selected name on an explicit ready custom domain. Normalized to lowercase; ASCII letters/digits/dots/hyphens/underscores, alphanumeric endpoints, no consecutive dots. Complete address at most 254 characters. Omit for random rotation; blank/null is invalid."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bucket email configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BucketEmail"
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Write access required; custom names additionally require full-account owner/administrator access."
          },
          "404": {
            "description": "Bucket unavailable"
          },
          "409": {
            "description": "Address changed, assignment pending/conflicting, custom name unavailable, custom domain unavailable, or named assignments disabled. Read the structured error code and reread state before retrying."
          },
          "422": {
            "description": "Confirmation/current address missing, or EMAIL_NAME_INVALID."
          },
          "423": {
            "description": "Account is read-only"
          },
          "429": {
            "description": "EMAIL_ROTATION_LIMIT; plan disallows rotation or monthly allowance is exhausted."
          },
          "202": {
            "description": "Pending activation. The returned address is still the current address. Poll GET email.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BucketEmail"
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/buckets": {
      "post": {
        "operationId": "createBucket",
        "summary": "Create a mailbox with a ready receiving address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Creates a mailbox with file storage and waits for receiving confirmation. Omit email.username for a generated name. On confirmation failure, EMAIL_NOT_READY includes the retained bucket_id. Creation quotas apply.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string"
                  },
                  "bucket": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Optional display title; defaults to the assigned username."
                      },
                      "description": {
                        "type": "string"
                      },
                      "metadata": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "tag_ids": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "tag_paths": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "email": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "username": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64,
                            "description": "Name before @. Normalized to lowercase. Omit to generate; blank/null is invalid. Reserved platform names return EMAIL_NAME_RESERVED; occupied or retired names return EMAIL_ALREADY_EXISTS."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Platform domain or a ready email domain owned by the selected account. Omit for the default platform domain."
                          }
                        }
                      }
                    }
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                },
                "required": [
                  "bucket"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created mailbox with its confirmed receiving address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bucket": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "email": {
                              "$ref": "#/components/schemas/BucketEmail"
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "bucket": {
                      "id": "bkt_example",
                      "email": {
                        "address": "acme-orders@revdokumail.com",
                        "receiving_enabled": true,
                        "sending_enabled": false
                      }
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Created mailbox with its confirmed receiving address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bucket": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "email": {
                              "$ref": "#/components/schemas/BucketEmail"
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired API credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "success": false,
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Authentication required",
                    "request_id": "req_example"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "description": "EMAIL_NOT_READY: receiving could not be confirmed within 25 seconds. error.details.bucket_id identifies the retained mailbox; do not create a replacement blindly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listBuckets",
        "summary": "List accessible buckets",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "buckets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "title"
                            ]
                          }
                        }
                      },
                      "required": [
                        "buckets"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/buckets/{id}": {
      "get": {
        "operationId": "getBucket",
        "summary": "Read bucket activity and optionally its incoming address",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_email",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Requires upload/write access. Omission exposes activity only."
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bucket details including email address/receiving state when authorized.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bucket": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "email": {
                              "$ref": "#/components/schemas/BucketEmail"
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Requested address requires upload/write access."
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "description": "Read bucket details. List files, emails, versions and account limits through their separate endpoints."
      }
    },
    "/v1/account/email_domains": {
      "get": {
        "operationId": "listAccountEmailDomains",
        "summary": "List account email domains, DNS records, receiving state and usage",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current domain configuration or result"
          },
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required"
          },
          "409": {
            "description": "Domain is still in use"
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation"
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After"
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit granted account for this call; omission uses the credential account."
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ]
      },
      "post": {
        "operationId": "createAccountEmailDomain",
        "summary": "Claim an exact email domain",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required"
          },
          "409": {
            "description": "Domain is still in use"
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation"
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After"
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true"
          },
          "201": {
            "description": "Exact domain claim created; add returned ownership TXT and verify."
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname"
                ],
                "properties": {
                  "hostname": {
                    "type": "string",
                    "description": "Dedicated root or unused subdomain, such as inbox.example.com. Subdomain recommended when root mail already exists."
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/email_domains/{id}": {
      "get": {
        "operationId": "getAccountEmailDomain",
        "summary": "Read exact domain setup state",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current domain configuration or result"
          },
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required"
          },
          "409": {
            "description": "Domain is still in use"
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation"
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After"
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Explicit granted account for this call; omission uses the credential account."
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ]
      },
      "delete": {
        "operationId": "removeAccountEmailDomain",
        "summary": "Remove unused receiving domain after confirmation",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required"
          },
          "409": {
            "description": "Domain is still in use"
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation"
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After"
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true"
          },
          "202": {
            "description": "Verification/removal queued; poll the resource"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname",
                  "confirm"
                ],
                "properties": {
                  "hostname": {
                    "type": "string"
                  },
                  "confirm": {
                    "type": "boolean",
                    "const": true
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Explicit granted account for this call."
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/email_domains/{id}/verify": {
      "post": {
        "operationId": "verifyAccountEmailDomain",
        "summary": "Queue exact ownership, SES and MX verification",
        "description": "Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required"
          },
          "409": {
            "description": "Domain is still in use"
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation"
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After"
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true"
          },
          "202": {
            "description": "Verification/removal queued; poll the resource"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "Explicit granted account for this call."
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/email_domains/check": {
      "post": {
        "operationId": "checkEmailHostname",
        "summary": "Check a domain hostname and existing DNS routing",
        "description": "Requires full-account owner/administrator access. Checks the exact hostname for conflicting MX or CNAME records without creating a claim or changing DNS. If the root already receives email elsewhere, use an unused subdomain such as inbox.yourdomain.com. Cookie-authenticated requests require CSRF.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current domain configuration or result"
          },
          "403": {
            "description": "Account admin/full-account access or domain setup entitlement required"
          },
          "409": {
            "description": "Domain is still in use"
          },
          "422": {
            "description": "Invalid hostname, DNS conflict, or missing confirmation"
          },
          "429": {
            "description": "Setup rate limit; follow Retry-After"
          },
          "503": {
            "description": "Temporary provider/DNS error; details.retryable is true"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname"
                ],
                "properties": {
                  "hostname": {
                    "type": "string",
                    "description": "Dedicated root or unused subdomain, such as inbox.example.com. Subdomain recommended when root mail already exists."
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buckets/{id}/files": {
      "get": {
        "operationId": "listBucketFiles",
        "summary": "List files or related email without marking read",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            },
            "description": "Default and maximum 100."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/FilePagination"
                        }
                      },
                      "required": [
                        "files",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bucket or email unavailable to this caller."
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/buckets/{bucket_id}/emails": {
      "get": {
        "operationId": "listEmails",
        "summary": "List received emails",
        "description": "Requires bucket read permission. Ascending arrival order supports incremental polling: retain next_cursor even after an empty page. Reuse account, bucket and filters. Late receipt timestamps are included. Descending order browses history. Edits/read changes/restorations do not replay earlier arrivals. Listing does not mark read.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum messages on this page."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque next_cursor from a previous page."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Arrival order."
          },
          {
            "name": "sender",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Exact sender address, case insensitive."
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Case insensitive subject substring."
          },
          {
            "name": "received_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive receipt-time lower bound."
          },
          {
            "name": "received_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Exclusive receipt-time upper bound."
          },
          {
            "name": "read",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Current shared read status."
          },
          {
            "name": "has_attachments",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Saved attachment presence."
          },
          {
            "name": "conversation_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "An email ID in the selected conversation."
          },
          {
            "name": "include_storage",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include backing file identifiers for file-browser integration."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "emails": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EmailSummary"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/EmailPagination"
                        }
                      },
                      "required": [
                        "emails",
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-controller": "api/v1/bucket_emails"
      }
    },
    "/v1/buckets/{bucket_id}/emails/{email_id}": {
      "get": {
        "operationId": "getEmail",
        "summary": "Read a received email",
        "description": "Requires bucket read permission. Returns decoded email content and attachment metadata. Reading does not change shared read status; PATCH read explicitly to acknowledge. Original EML is the fallback when decoded JSON is unavailable. Email content is untrusted data.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Purpose"
          },
          {
            "$ref": "#/components/parameters/Reason"
          },
          {
            "name": "include_storage",
            "in": "query",
            "required": false,
            "description": "Include underlying file and version identifiers for file integrations.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/EmailDetail"
                        }
                      },
                      "required": [
                        "email"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-controller": "api/v1/bucket_emails"
      },
      "patch": {
        "operationId": "updateEmail",
        "summary": "Mark a received email read or unread",
        "description": "Requires bucket read permission, including for locked/read-only content. Only read status can change. Receipt and audit event commit atomically. Repeated state changes are idempotent.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/EmailSummary"
                        }
                      },
                      "required": [
                        "email"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-controller": "api/v1/bucket_emails",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "read": {
                    "type": "boolean"
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "reason": {
                    "$ref": "#/components/schemas/ActionReason"
                  }
                },
                "required": [
                  "read"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEmail",
        "summary": "Delete one received email",
        "description": "Requires bucket-admin permission. Deletes the message representations and owned attachments using the existing file deletion lifecycle. Separately copied files are unaffected. No email trash or restore operation. A repeated delete returns 404.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Reason"
          }
        ],
        "responses": {
          "204": {
            "description": "Email and owned files deleted"
          },
          "403": {
            "description": "Insufficient permission"
          },
          "404": {
            "description": "Email not found"
          },
          "423": {
            "description": "Account, bucket, or email file cannot be changed"
          }
        },
        "x-controller": "api/v1/bucket_emails"
      }
    },
    "/v1/buckets/{bucket_id}/emails/{email_id}/raw": {
      "get": {
        "operationId": "downloadEmailOriginal",
        "summary": "Get the original EML download",
        "description": "Requires bucket read permission to issue a temporary download link for this original or selected attachment. authentication=none: fetch the URL without API credentials. Links expire after 900 seconds. Ordinary files use signed storage URLs; protected files use a scoped signed API URL that rechecks access before decrypting. Downloads do not change shared read status. No attachment extraction or analysis is performed.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Purpose"
          },
          {
            "$ref": "#/components/parameters/Reason"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "download": {
                          "$ref": "#/components/schemas/EmailDownload"
                        }
                      },
                      "required": [
                        "download"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "413": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-controller": "api/v1/bucket_emails"
      }
    },
    "/v1/buckets/{bucket_id}/emails/{email_id}/attachments/{attachment_id}": {
      "get": {
        "operationId": "downloadEmailAttachment",
        "summary": "Get an email attachment download",
        "description": "Requires bucket read permission to issue a temporary download link for this original or selected attachment. authentication=none: fetch the URL without API credentials. Links expire after 900 seconds. Ordinary files use signed storage URLs; protected files use a scoped signed API URL that rechecks access before decrypting. Downloads do not change shared read status. No attachment extraction or analysis is performed.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Purpose"
          },
          {
            "$ref": "#/components/parameters/Reason"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "download": {
                          "$ref": "#/components/schemas/EmailDownload"
                        }
                      },
                      "required": [
                        "download"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ApiError"
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          },
          "413": {
            "$ref": "#/components/responses/ApiError"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-controller": "api/v1/bucket_emails"
      }
    },
    "/v1/buckets/{id}/email/allowlist": {
      "patch": {
        "operationId": "updateBucketEmailAllowlist",
        "summary": "Replace the allowed senders for a bucket",
        "description": "Requires account owner/administrator and bucket-admin permission. Read sender_allowlist.version from GET /buckets/{id}/email first. Entries match exact authenticated From addresses or domains, with no wildcards or implicit subdomains. A stale or missing version returns EMAIL_ALLOWLIST_CHANGED; invalid entries return EMAIL_ALLOWLIST_INVALID. Disabled policies retain the supplied entries. Locks and read-only account state apply.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorized bucket prefix ID"
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Explicitly granted account; omission uses credential default"
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActionReason"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sender_allowlist",
                  "expected_version"
                ],
                "properties": {
                  "sender_allowlist": {
                    "type": "object",
                    "required": [
                      "enabled",
                      "entries"
                    ],
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "entries": {
                        "type": "array",
                        "maxItems": 500,
                        "items": {
                          "type": "string",
                          "maxLength": 256
                        }
                      }
                    }
                  },
                  "expected_version": {
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "reason": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated allowed senders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "sender_allowlist"
                      ],
                      "properties": {
                        "sender_allowlist": {
                          "$ref": "#/components/schemas/EmailSenderAllowlist"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "not": {
                    "anyOf": [
                      {
                        "required": [
                          "error"
                        ]
                      },
                      {
                        "required": [
                          "error_message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Account administrator and bucket-admin permission required"
          },
          "404": {
            "description": "Bucket not found"
          },
          "409": {
            "description": "EMAIL_ALLOWLIST_CHANGED"
          },
          "422": {
            "description": "EMAIL_ALLOWLIST_INVALID"
          },
          "423": {
            "description": "Account or bucket locked"
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        },
        "x-controller": "api/v1/buckets",
        "x-action": "update_email_allowlist"
      }
    },
    "/v1/accounts/{id}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Read one granted account",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Granted account data. Selecting an account never changes the credential default.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "$ref": "#/components/schemas/AccountIdentity"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/agent/signups": {
      "post": {
        "operationId": "startAgentSignup",
        "summary": "Start signup with the human operator\u2019s email",
        "description": "Available only when data.signup.available is true in discovery. Requests use uncompressed JSON at most 8 KiB. IP/global request limits run before challenge lookup; canonical-email send limits are shared with browser and legacy sign-in. Returns a private signup_token and emails an OTP. Creates no user, account, mailbox, API key or address reservation before proof. Hosted MCP/CLI continue browser OAuth onboarding.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "human_operator_email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254,
                    "description": "Email supplied by the human who owns and authorizes this account. Do not use an AI agent mailbox or invent this value. Verification proves control of the address."
                  },
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Optional exact name for the first mailbox. Omit to generate a name. Platform reserved and retired name rules apply."
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "permission_scope": {
                    "type": "string",
                    "enum": [
                      "bucket_read",
                      "bucket_write",
                      "bucket_admin"
                    ],
                    "default": "bucket_admin"
                  },
                  "accept_terms": {
                    "type": "boolean",
                    "const": true,
                    "description": "The human agrees to the current Terms and service acceptable use policy."
                  },
                  "acknowledge_privacy_policy": {
                    "type": "boolean",
                    "const": true,
                    "description": "The human acknowledges the current privacy notice. This is not consent to optional processing."
                  }
                },
                "required": [
                  "human_operator_email",
                  "accept_terms",
                  "acknowledge_privacy_policy"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Pending signup; keep signup_token private. Cache-Control: no-store.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "signup": {
                          "$ref": "#/components/schemas/SignupChallenge"
                        }
                      },
                      "required": [
                        "signup"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "413": {
            "$ref": "#/components/responses/ApiError"
          },
          "415": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/agent/signups/verify": {
      "post": {
        "operationId": "verifyAgentSignup",
        "summary": "Verify the human\u2019s code and create the first mailbox",
        "description": "Requires the signup_token and privately entered OTP. Five attempts per challenge, ten per IP/canonical email per 15 minutes; challenge expires after ten minutes. Existing identities must use normal sign-in after proof, preserving 2FA and suspension. A name conflict can be corrected using username in the same verified session without another OTP. No-store. A successful replay returns completed IDs without the key; recover through normal sign-in and connection management.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$",
                    "description": "Required until the challenge is verified; collect privately, never in chat."
                  },
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Optional exact name for the first mailbox. Omit to generate a name. Platform reserved and retired name rules apply."
                  },
                  "signup_token": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{43}$",
                    "description": "Private signup token returned by the first request. Send only in the JSON body; never log it or show it in chat."
                  }
                },
                "required": [
                  "signup_token"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created user/account/mailbox and one scoped connection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "signup": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "const": "completed"
                            }
                          },
                          "required": [
                            "status"
                          ]
                        },
                        "api_key": {
                          "type": "string",
                          "description": "Returned once; store privately. Never write to logs or chat."
                        },
                        "scope": {
                          "type": "string",
                          "enum": [
                            "bucket_read",
                            "bucket_write",
                            "bucket_admin"
                          ]
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "account": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id"
                          ]
                        },
                        "bucket": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "email": {
                              "$ref": "#/components/schemas/BucketEmail"
                            }
                          },
                          "required": [
                            "id",
                            "title",
                            "email"
                          ]
                        }
                      },
                      "required": [
                        "signup",
                        "api_key",
                        "scope",
                        "expires_at",
                        "account",
                        "bucket"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "200": {
            "description": "Already completed; no key replay",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "signup": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "const": "completed"
                            },
                            "account_id": {
                              "type": "string"
                            },
                            "bucket_id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "status",
                            "account_id",
                            "bucket_id"
                          ]
                        },
                        "recovery_url": {
                          "type": "string",
                          "format": "uri"
                        }
                      },
                      "required": [
                        "signup",
                        "recovery_url"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "413": {
            "$ref": "#/components/responses/ApiError"
          },
          "415": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/agent/signups/resend": {
      "post": {
        "operationId": "resendAgentSignupCode",
        "summary": "Resend the human operator\u2019s verification code",
        "description": "Requires signup_token. Replaces the old code without resetting attempts or the ten-minute expiry. Enforces the 60-second canonical-email cooldown, three API-signup sends per 30 minutes, shared three sends per five minutes, and global hourly send cap. Return 429 with Retry-After when limited; never automatically restart the flow to bypass a limit.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "signup_token": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{43}$",
                    "description": "Private signup token returned by the first request. Send only in the JSON body; never log it or show it in chat."
                  }
                },
                "required": [
                  "signup_token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pending challenge with remaining timers; no-store",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "signup": {
                          "$ref": "#/components/schemas/SignupChallenge"
                        }
                      },
                      "required": [
                        "signup"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ApiError"
          },
          "404": {
            "$ref": "#/components/responses/ApiError"
          },
          "409": {
            "$ref": "#/components/responses/ApiError"
          },
          "413": {
            "$ref": "#/components/responses/ApiError"
          },
          "415": {
            "$ref": "#/components/responses/ApiError"
          },
          "422": {
            "$ref": "#/components/responses/ApiError"
          },
          "429": {
            "$ref": "#/components/responses/ApiError"
          },
          "503": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    },
    "/v1/account/limits": {
      "get": {
        "operationId": "getAccountLimits",
        "summary": "Read effective mailbox and file storage limits",
        "description": "For the selected account. Uses the same plan and overrides as enforcement. Limits are not repeated in bucket responses. Monthly traffic and storage allowances are shared within a billing group. Zero means none; null means no cap for that field.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Effective limits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "account_id",
                        "limits"
                      ],
                      "properties": {
                        "account_id": {
                          "type": "string"
                        },
                        "limits": {
                          "$ref": "#/components/schemas/AccountLimits"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ApiError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "AccountIdentity": {
        "type": "object",
        "required": [
          "id",
          "name",
          "account_kind",
          "client_name",
          "agency_account"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Account name, separate from the client person or business."
          },
          "account_kind": {
            "type": "string",
            "enum": [
              "standard",
              "agency",
              "client"
            ]
          },
          "client_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "description": "Client person or business name, or null when unset."
          },
          "agency_account": {
            "type": [
              "object",
              "null"
            ],
            "description": "Parent agency only when granted to this credential. Null does not make a client independent.",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "read_only"
            ]
          },
          "permissions": {
            "type": "object",
            "properties": {
              "scope": {
                "type": "string"
              },
              "bucket_access": {
                "type": "string"
              },
              "can_create_buckets": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "BucketEmail": {
        "type": "object",
        "description": "Receiving address/state on creation and authorized opt-in reads. Ordinary bucket reads expose activity only; use the emails collection for a durable arrival cursor.",
        "properties": {
          "address": {
            "type": [
              "string",
              "null"
            ]
          },
          "received_count": {
            "type": "integer",
            "minimum": 0
          },
          "last_received_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_received_path": {
            "type": [
              "string",
              "null"
            ],
            "description": "Latest message folder with trailing slash; null before receipt. May become stale after manual file moves/deletion."
          },
          "blocked_reason": {
            "description": "Why receiving is unavailable; omitted when receiving_enabled is true.",
            "type": [
              "string",
              "null"
            ]
          },
          "available_domains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "hostname": {
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "platform",
                    "custom"
                  ]
                }
              }
            }
          },
          "assignment": {
            "type": "object",
            "description": "No candidate address is disclosed. Keep using address until status is active; on pending poll the email endpoint.",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "active",
                  "failed"
                ]
              },
              "hostname": {
                "type": "string"
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "retryable": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "customization": {
            "type": "object",
            "description": "Caller-specific customization capability on the dedicated email GET/rotate endpoints.",
            "properties": {
              "allowed": {
                "type": "boolean"
              },
              "blocked_reason": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "settings_url": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Account-domain settings link for administrators; null otherwise."
              }
            }
          },
          "receiving_enabled": {
            "type": "boolean",
            "description": "Whether this mailbox can currently receive email. False when configuration, account state, quota or routing prevents receiving."
          },
          "sender_allowlist": {
            "$ref": "#/components/schemas/EmailSenderAllowlist",
            "description": "Returned only by dedicated email settings reads to account administrators with bucket-admin permission; omitted from ordinary bucket serialization."
          },
          "username": {
            "type": [
              "string",
              "null"
            ]
          },
          "sending_enabled": {
            "type": "boolean",
            "const": false,
            "description": "Always false. Sending is not implemented."
          }
        }
      },
      "BucketEmailActivity": {
        "type": "object",
        "properties": {
          "received_count": {
            "type": "integer",
            "minimum": 0
          },
          "last_received_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_received_path": {
            "type": [
              "string",
              "null"
            ],
            "description": "Latest message folder with trailing slash; null before receipt. May become stale after manual file moves/deletion."
          }
        }
      },
      "DecodedEmailAddress": {
        "type": "object",
        "required": [
          "address",
          "name"
        ],
        "properties": {
          "address": {
            "type": "string"
[...]
