=begin
#Revdoku public agent API

#Email mailboxes for people and AI agents, with private file storage. Create mailboxes, read messages and attachments, and store additional files. Direct API signup requires verification of the human operator email. This document covers selected endpoints; see https://revdoku.com/api.md for the complete API.

The version of the OpenAPI document: 2.0.1

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module RevdokuApi
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check a domain hostname and existing DNS routing
    # Requires full-account owner/administrator access. Checks the exact hostname for conflicting MX or CNAME records without creating a claim or changing DNS. If the root already receives email elsewhere, use an unused subdomain such as mailbox.yourdomain.com. Cookie-authenticated requests require CSRF.
    # @param create_account_email_domain_request [CreateAccountEmailDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EmailDomainCheckResponse]
    def check_email_hostname(create_account_email_domain_request, opts = {})
      data, _status_code, _headers = check_email_hostname_with_http_info(create_account_email_domain_request, opts)
      data
    end

    # Check a domain hostname and existing DNS routing
    # Requires full-account owner/administrator access. Checks the exact hostname for conflicting MX or CNAME records without creating a claim or changing DNS. If the root already receives email elsewhere, use an unused subdomain such as mailbox.yourdomain.com. Cookie-authenticated requests require CSRF.
    # @param create_account_email_domain_request [CreateAccountEmailDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailDomainCheckResponse, Integer, Hash)>] EmailDomainCheckResponse data, response status code and response headers
    def check_email_hostname_with_http_info(create_account_email_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.check_email_hostname ...'
      end
      # verify the required parameter 'create_account_email_domain_request' is set
      if @api_client.config.client_side_validation && create_account_email_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_account_email_domain_request' when calling DefaultApi.check_email_hostname"
      end
      # resource path
      local_var_path = '/v1/account/email_domains/check'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_account_email_domain_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailDomainCheckResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.check_email_hostname",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#check_email_hostname\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Claim an exact email domain
    # Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.
    # @param create_account_email_domain_request [CreateAccountEmailDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EmailDomainListResponse]
    def create_account_email_domain(create_account_email_domain_request, opts = {})
      data, _status_code, _headers = create_account_email_domain_with_http_info(create_account_email_domain_request, opts)
      data
    end

    # Claim an exact email domain
    # Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.
    # @param create_account_email_domain_request [CreateAccountEmailDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailDomainListResponse, Integer, Hash)>] EmailDomainListResponse data, response status code and response headers
    def create_account_email_domain_with_http_info(create_account_email_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_account_email_domain ...'
      end
      # verify the required parameter 'create_account_email_domain_request' is set
      if @api_client.config.client_side_validation && create_account_email_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_account_email_domain_request' when calling DefaultApi.create_account_email_domain"
      end
      # resource path
      local_var_path = '/v1/account/email_domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_account_email_domain_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailDomainListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_account_email_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_account_email_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a client account within an authorized agency
    # @param create_client_account_request [CreateClientAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateClientAccount201Response]
    def create_client_account(create_client_account_request, opts = {})
      data, _status_code, _headers = create_client_account_with_http_info(create_client_account_request, opts)
      data
    end

    # Create a client account within an authorized agency
    # @param create_client_account_request [CreateClientAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateClientAccount201Response, Integer, Hash)>] CreateClientAccount201Response data, response status code and response headers
    def create_client_account_with_http_info(create_client_account_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_client_account ...'
      end
      # verify the required parameter 'create_client_account_request' is set
      if @api_client.config.client_side_validation && create_client_account_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_client_account_request' when calling DefaultApi.create_client_account"
      end
      # resource path
      local_var_path = '/v1/accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_client_account_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateClientAccount201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_client_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_client_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a mailbox with a ready receiving address
    # Creates a mailbox with file storage and waits for receiving confirmation. On Free, email.username is a prefix with a permanent 12-character random suffix. An exact name requires a paid plan. Omit email.username for a generated name. On confirmation failure, EMAIL_NOT_READY includes the retained mailbox_id. Creation quotas apply.
    # @param create_mailbox_request [CreateMailboxRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateMailbox201Response]
    def create_mailbox(create_mailbox_request, opts = {})
      data, _status_code, _headers = create_mailbox_with_http_info(create_mailbox_request, opts)
      data
    end

    # Create a mailbox with a ready receiving address
    # Creates a mailbox with file storage and waits for receiving confirmation. On Free, email.username is a prefix with a permanent 12-character random suffix. An exact name requires a paid plan. Omit email.username for a generated name. On confirmation failure, EMAIL_NOT_READY includes the retained mailbox_id. Creation quotas apply.
    # @param create_mailbox_request [CreateMailboxRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateMailbox201Response, Integer, Hash)>] CreateMailbox201Response data, response status code and response headers
    def create_mailbox_with_http_info(create_mailbox_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_mailbox ...'
      end
      # verify the required parameter 'create_mailbox_request' is set
      if @api_client.config.client_side_validation && create_mailbox_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_mailbox_request' when calling DefaultApi.create_mailbox"
      end
      # resource path
      local_var_path = '/v1/mailboxes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_mailbox_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateMailbox201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_mailbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_mailbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add an email alias to a mailbox
    # Requires a paid plan, a full-account owner/administrator with mailbox-admin access and an available alias slot. Free returns EMAIL_NAMES_UPGRADE_REQUIRED with an upgrade_url. Accepts a username on an available platform domain or a ready domain owned by this account. Leaves the primary address unchanged and does not consume a rotation. Returns 202 while receiving registration is pending; read mailbox settings until receiving_enabled is true. After an uncertain response, read existing aliases before retrying.
    # @param id [String] Authorized mailbox prefix ID
    # @param create_mailbox_email_alias_request [CreateMailboxEmailAliasRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [String] :reason 
    # @return [GetMailboxEmailSettings200Response]
    def create_mailbox_email_alias(id, create_mailbox_email_alias_request, opts = {})
      data, _status_code, _headers = create_mailbox_email_alias_with_http_info(id, create_mailbox_email_alias_request, opts)
      data
    end

    # Add an email alias to a mailbox
    # Requires a paid plan, a full-account owner/administrator with mailbox-admin access and an available alias slot. Free returns EMAIL_NAMES_UPGRADE_REQUIRED with an upgrade_url. Accepts a username on an available platform domain or a ready domain owned by this account. Leaves the primary address unchanged and does not consume a rotation. Returns 202 while receiving registration is pending; read mailbox settings until receiving_enabled is true. After an uncertain response, read existing aliases before retrying.
    # @param id [String] Authorized mailbox prefix ID
    # @param create_mailbox_email_alias_request [CreateMailboxEmailAliasRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [String] :reason 
    # @return [Array<(GetMailboxEmailSettings200Response, Integer, Hash)>] GetMailboxEmailSettings200Response data, response status code and response headers
    def create_mailbox_email_alias_with_http_info(id, create_mailbox_email_alias_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_mailbox_email_alias ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.create_mailbox_email_alias"
      end
      # verify the required parameter 'create_mailbox_email_alias_request' is set
      if @api_client.config.client_side_validation && create_mailbox_email_alias_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_mailbox_email_alias_request' when calling DefaultApi.create_mailbox_email_alias"
      end
      if @api_client.config.client_side_validation && !opts[:'reason'].nil? && opts[:'reason'].to_s.length > 2000
        fail ArgumentError, 'invalid value for "opts[:"reason"]" when calling DefaultApi.create_mailbox_email_alias, the character length must be smaller than or equal to 2000.'
      end

      # resource path
      local_var_path = '/v1/mailboxes/{id}/email/aliases'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_mailbox_email_alias_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetMailboxEmailSettings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_mailbox_email_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_mailbox_email_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete one received email
    # Requires mailbox-admin permission. Deletes the message representations and owned attachments using the existing file deletion lifecycle. Separately copied files are unaffected. No email trash or restore operation. A repeated delete returns 404.
    # @param mailbox_id [String] 
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [String] :reason 
    # @return [nil]
    def delete_email(mailbox_id, email_id, opts = {})
      delete_email_with_http_info(mailbox_id, email_id, opts)
      nil
    end

    # Delete one received email
    # Requires mailbox-admin permission. Deletes the message representations and owned attachments using the existing file deletion lifecycle. Separately copied files are unaffected. No email trash or restore operation. A repeated delete returns 404.
    # @param mailbox_id [String] 
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [String] :reason 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_email_with_http_info(mailbox_id, email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_email ...'
      end
      # verify the required parameter 'mailbox_id' is set
      if @api_client.config.client_side_validation && mailbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox_id' when calling DefaultApi.delete_email"
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling DefaultApi.delete_email"
      end
      if @api_client.config.client_side_validation && !opts[:'reason'].nil? && opts[:'reason'].to_s.length > 2000
        fail ArgumentError, 'invalid value for "opts[:"reason"]" when calling DefaultApi.delete_email, the character length must be smaller than or equal to 2000.'
      end

      # resource path
      local_var_path = '/v1/mailboxes/{mailbox_id}/emails/{email_id}'.sub('{mailbox_id}', CGI.escape(mailbox_id.to_s)).sub('{email_id}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable a mailbox webhook
    # Requires mailbox admin permission. Cancels queued attempts; a request already in flight may finish.
    # @param mailbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @return [nil]
    def delete_email_webhook(mailbox_id, opts = {})
      delete_email_webhook_with_http_info(mailbox_id, opts)
      nil
    end

    # Disable a mailbox webhook
    # Requires mailbox admin permission. Cancels queued attempts; a request already in flight may finish.
    # @param mailbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_email_webhook_with_http_info(mailbox_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_email_webhook ...'
      end
      # verify the required parameter 'mailbox_id' is set
      if @api_client.config.client_side_validation && mailbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox_id' when calling DefaultApi.delete_email_webhook"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{mailbox_id}/email/webhook'.sub('{mailbox_id}', CGI.escape(mailbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_email_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_email_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove one email alias
    # Requires a full-account owner/administrator with mailbox-admin access. Immediately revokes this alias, including queued deliveries. Retains existing messages and the permanent address reservation. Returns updated mailbox settings.
    # @param id [String] Authorized mailbox prefix ID
    # @param alias_id [String] Alias ID from mailbox settings
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [String] :reason 
    # @return [GetMailboxEmailSettings200Response]
    def delete_mailbox_email_alias(id, alias_id, opts = {})
      data, _status_code, _headers = delete_mailbox_email_alias_with_http_info(id, alias_id, opts)
      data
    end

    # Remove one email alias
    # Requires a full-account owner/administrator with mailbox-admin access. Immediately revokes this alias, including queued deliveries. Retains existing messages and the permanent address reservation. Returns updated mailbox settings.
    # @param id [String] Authorized mailbox prefix ID
    # @param alias_id [String] Alias ID from mailbox settings
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [String] :reason 
    # @return [Array<(GetMailboxEmailSettings200Response, Integer, Hash)>] GetMailboxEmailSettings200Response data, response status code and response headers
    def delete_mailbox_email_alias_with_http_info(id, alias_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_mailbox_email_alias ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_mailbox_email_alias"
      end
      # verify the required parameter 'alias_id' is set
      if @api_client.config.client_side_validation && alias_id.nil?
        fail ArgumentError, "Missing the required parameter 'alias_id' when calling DefaultApi.delete_mailbox_email_alias"
      end
      if @api_client.config.client_side_validation && !opts[:'reason'].nil? && opts[:'reason'].to_s.length > 2000
        fail ArgumentError, 'invalid value for "opts[:"reason"]" when calling DefaultApi.delete_mailbox_email_alias, the character length must be smaller than or equal to 2000.'
      end

      # resource path
      local_var_path = '/v1/mailboxes/{id}/email/aliases/{alias_id}'.sub('{id}', CGI.escape(id.to_s)).sub('{alias_id}', CGI.escape(alias_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMailboxEmailSettings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_mailbox_email_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_mailbox_email_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read one granted account
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetAccount200Response]
    def get_account(id, opts = {})
      data, _status_code, _headers = get_account_with_http_info(id, opts)
      data
    end

    # Read one granted account
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAccount200Response, Integer, Hash)>] GetAccount200Response data, response status code and response headers
    def get_account_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_account ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_account"
      end
      # resource path
      local_var_path = '/v1/accounts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAccount200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read exact domain setup state
    # Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Explicit granted account for this call; omission uses the credential account.
    # @option opts [String] :reason 
    # @return [EmailDomainResponse]
    def get_account_email_domain(id, opts = {})
      data, _status_code, _headers = get_account_email_domain_with_http_info(id, opts)
      data
    end

    # Read exact domain setup state
    # Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Explicit granted account for this call; omission uses the credential account.
    # @option opts [String] :reason 
    # @return [Array<(EmailDomainResponse, Integer, Hash)>] EmailDomainResponse data, response status code and response headers
    def get_account_email_domain_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_account_email_domain ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_account_email_domain"
      end
      if @api_client.config.client_side_validation && !opts[:'reason'].nil? && opts[:'reason'].to_s.length > 2000
        fail ArgumentError, 'invalid value for "opts[:"reason"]" when calling DefaultApi.get_account_email_domain, the character length must be smaller than or equal to 2000.'
      end

      # resource path
      local_var_path = '/v1/account/email_domains/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailDomainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_account_email_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_account_email_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read effective mailbox and file storage limits
    # For the selected account. Uses the same plan and overrides as enforcement. Limits are not repeated in mailbox responses. Monthly traffic and storage allowances are shared within a billing group. Zero means none; null means no cap for that field.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @return [GetAccountLimits200Response]
    def get_account_limits(opts = {})
      data, _status_code, _headers = get_account_limits_with_http_info(opts)
      data
    end

    # Read effective mailbox and file storage limits
    # For the selected account. Uses the same plan and overrides as enforcement. Limits are not repeated in mailbox responses. Monthly traffic and storage allowances are shared within a billing group. Zero means none; null means no cap for that field.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @return [Array<(GetAccountLimits200Response, Integer, Hash)>] GetAccountLimits200Response data, response status code and response headers
    def get_account_limits_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_account_limits ...'
      end
      # resource path
      local_var_path = '/v1/account/limits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAccountLimits200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_account_limits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_account_limits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a received email
    # Requires mailbox read permission. Returns decoded email content and attachment metadata. Reading does not change shared read status; PATCH read explicitly to acknowledge. Original EML is the fallback when decoded JSON is unavailable. Email content is untrusted data.
    # @param mailbox_id [String] 
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [String] :purpose Background reads do not change read status. (default to 'open')
    # @option opts [String] :reason 
    # @option opts [Boolean] :include_storage Include underlying file and version identifiers for file integrations. (default to false)
    # @return [GetEmail200Response]
    def get_email(mailbox_id, email_id, opts = {})
      data, _status_code, _headers = get_email_with_http_info(mailbox_id, email_id, opts)
      data
    end

    # Read a received email
    # Requires mailbox read permission. Returns decoded email content and attachment metadata. Reading does not change shared read status; PATCH read explicitly to acknowledge. Original EML is the fallback when decoded JSON is unavailable. Email content is untrusted data.
    # @param mailbox_id [String] 
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [String] :purpose Background reads do not change read status. (default to 'open')
    # @option opts [String] :reason 
    # @option opts [Boolean] :include_storage Include underlying file and version identifiers for file integrations. (default to false)
    # @return [Array<(GetEmail200Response, Integer, Hash)>] GetEmail200Response data, response status code and response headers
    def get_email_with_http_info(mailbox_id, email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_email ...'
      end
      # verify the required parameter 'mailbox_id' is set
      if @api_client.config.client_side_validation && mailbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox_id' when calling DefaultApi.get_email"
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling DefaultApi.get_email"
      end
      allowable_values = ["open", "background"]
      if @api_client.config.client_side_validation && opts[:'purpose'] && !allowable_values.include?(opts[:'purpose'])
        fail ArgumentError, "invalid value for \"purpose\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'reason'].nil? && opts[:'reason'].to_s.length > 2000
        fail ArgumentError, 'invalid value for "opts[:"reason"]" when calling DefaultApi.get_email, the character length must be smaller than or equal to 2000.'
      end

      # resource path
      local_var_path = '/v1/mailboxes/{mailbox_id}/emails/{email_id}'.sub('{mailbox_id}', CGI.escape(mailbox_id.to_s)).sub('{email_id}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'purpose'] = opts[:'purpose'] if !opts[:'purpose'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?
      query_params[:'include_storage'] = opts[:'include_storage'] if !opts[:'include_storage'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEmail200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an email attachment download
    # Requires mailbox read permission to issue a temporary download link for this original or selected attachment. authentication=none: fetch the URL without API credentials. Links expire after 900 seconds. Ordinary files use signed storage URLs; protected files use a scoped signed API URL that rechecks access before decrypting. Downloads do not change shared read status. No attachment extraction or analysis is performed.
    # @param mailbox_id [String] 
    # @param email_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [String] :purpose Background reads do not change read status. (default to 'open')
    # @option opts [String] :reason 
    # @return [GetEmailOriginalDownloadUrl200Response]
    def get_email_attachment_download_url(mailbox_id, email_id, attachment_id, opts = {})
      data, _status_code, _headers = get_email_attachment_download_url_with_http_info(mailbox_id, email_id, attachment_id, opts)
      data
    end

    # Get an email attachment download
    # Requires mailbox read permission to issue a temporary download link for this original or selected attachment. authentication&#x3D;none: fetch the URL without API credentials. Links expire after 900 seconds. Ordinary files use signed storage URLs; protected files use a scoped signed API URL that rechecks access before decrypting. Downloads do not change shared read status. No attachment extraction or analysis is performed.
    # @param mailbox_id [String] 
    # @param email_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [String] :purpose Background reads do not change read status. (default to 'open')
    # @option opts [String] :reason 
    # @return [Array<(GetEmailOriginalDownloadUrl200Response, Integer, Hash)>] GetEmailOriginalDownloadUrl200Response data, response status code and response headers
    def get_email_attachment_download_url_with_http_info(mailbox_id, email_id, attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_email_attachment_download_url ...'
      end
      # verify the required parameter 'mailbox_id' is set
      if @api_client.config.client_side_validation && mailbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox_id' when calling DefaultApi.get_email_attachment_download_url"
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling DefaultApi.get_email_attachment_download_url"
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling DefaultApi.get_email_attachment_download_url"
      end
      allowable_values = ["open", "background"]
      if @api_client.config.client_side_validation && opts[:'purpose'] && !allowable_values.include?(opts[:'purpose'])
        fail ArgumentError, "invalid value for \"purpose\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'reason'].nil? && opts[:'reason'].to_s.length > 2000
        fail ArgumentError, 'invalid value for "opts[:"reason"]" when calling DefaultApi.get_email_attachment_download_url, the character length must be smaller than or equal to 2000.'
      end

      # resource path
      local_var_path = '/v1/mailboxes/{mailbox_id}/emails/{email_id}/attachments/{attachment_id}'.sub('{mailbox_id}', CGI.escape(mailbox_id.to_s)).sub('{email_id}', CGI.escape(email_id.to_s)).sub('{attachment_id}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'purpose'] = opts[:'purpose'] if !opts[:'purpose'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/octet-stream']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEmailOriginalDownloadUrl200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_email_attachment_download_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_email_attachment_download_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the original EML download
    # Requires mailbox read permission to issue a temporary download link for this original or selected attachment. authentication=none: fetch the URL without API credentials. Links expire after 900 seconds. Ordinary files use signed storage URLs; protected files use a scoped signed API URL that rechecks access before decrypting. Downloads do not change shared read status. No attachment extraction or analysis is performed.
    # @param mailbox_id [String] 
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [String] :purpose Background reads do not change read status. (default to 'open')
    # @option opts [String] :reason 
    # @return [GetEmailOriginalDownloadUrl200Response]
    def get_email_original_download_url(mailbox_id, email_id, opts = {})
      data, _status_code, _headers = get_email_original_download_url_with_http_info(mailbox_id, email_id, opts)
      data
    end

    # Get the original EML download
    # Requires mailbox read permission to issue a temporary download link for this original or selected attachment. authentication&#x3D;none: fetch the URL without API credentials. Links expire after 900 seconds. Ordinary files use signed storage URLs; protected files use a scoped signed API URL that rechecks access before decrypting. Downloads do not change shared read status. No attachment extraction or analysis is performed.
    # @param mailbox_id [String] 
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [String] :purpose Background reads do not change read status. (default to 'open')
    # @option opts [String] :reason 
    # @return [Array<(GetEmailOriginalDownloadUrl200Response, Integer, Hash)>] GetEmailOriginalDownloadUrl200Response data, response status code and response headers
    def get_email_original_download_url_with_http_info(mailbox_id, email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_email_original_download_url ...'
      end
      # verify the required parameter 'mailbox_id' is set
      if @api_client.config.client_side_validation && mailbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox_id' when calling DefaultApi.get_email_original_download_url"
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling DefaultApi.get_email_original_download_url"
      end
      allowable_values = ["open", "background"]
      if @api_client.config.client_side_validation && opts[:'purpose'] && !allowable_values.include?(opts[:'purpose'])
        fail ArgumentError, "invalid value for \"purpose\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'reason'].nil? && opts[:'reason'].to_s.length > 2000
        fail ArgumentError, 'invalid value for "opts[:"reason"]" when calling DefaultApi.get_email_original_download_url, the character length must be smaller than or equal to 2000.'
      end

      # resource path
      local_var_path = '/v1/mailboxes/{mailbox_id}/emails/{email_id}/raw'.sub('{mailbox_id}', CGI.escape(mailbox_id.to_s)).sub('{email_id}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'purpose'] = opts[:'purpose'] if !opts[:'purpose'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/octet-stream']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEmailOriginalDownloadUrl200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_email_original_download_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_email_original_download_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a short-lived Action Cable ticket for local email monitoring
    # Requires mailbox read permission. Connect to the returned websocket_url with email_subscription_token=TICKET using actioncable-v1-json within 60 seconds. Subscribe to EmailReceivedChannel with the returned account_id/mailbox_id. Frames contain EmailReceivedEvent in message. Live only: after confirmation and on reconnect, catch up using existing ascending email arrival cursors.
    # @param mailbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @return [GetEmailSubscription200Response]
    def get_email_subscription(mailbox_id, opts = {})
      data, _status_code, _headers = get_email_subscription_with_http_info(mailbox_id, opts)
      data
    end

    # Get a short-lived Action Cable ticket for local email monitoring
    # Requires mailbox read permission. Connect to the returned websocket_url with email_subscription_token&#x3D;TICKET using actioncable-v1-json within 60 seconds. Subscribe to EmailReceivedChannel with the returned account_id/mailbox_id. Frames contain EmailReceivedEvent in message. Live only: after confirmation and on reconnect, catch up using existing ascending email arrival cursors.
    # @param mailbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @return [Array<(GetEmailSubscription200Response, Integer, Hash)>] GetEmailSubscription200Response data, response status code and response headers
    def get_email_subscription_with_http_info(mailbox_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_email_subscription ...'
      end
      # verify the required parameter 'mailbox_id' is set
      if @api_client.config.client_side_validation && mailbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox_id' when calling DefaultApi.get_email_subscription"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{mailbox_id}/email/subscription'.sub('{mailbox_id}', CGI.escape(mailbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEmailSubscription200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_email_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_email_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a mailbox webhook endpoint
    # Requires mailbox admin permission. Returns null when disabled; never includes the signing secret.
    # @param mailbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @return [GetEmailWebhook200Response]
    def get_email_webhook(mailbox_id, opts = {})
      data, _status_code, _headers = get_email_webhook_with_http_info(mailbox_id, opts)
      data
    end

    # Read a mailbox webhook endpoint
    # Requires mailbox admin permission. Returns null when disabled; never includes the signing secret.
    # @param mailbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @return [Array<(GetEmailWebhook200Response, Integer, Hash)>] GetEmailWebhook200Response data, response status code and response headers
    def get_email_webhook_with_http_info(mailbox_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_email_webhook ...'
      end
      # verify the required parameter 'mailbox_id' is set
      if @api_client.config.client_side_validation && mailbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox_id' when calling DefaultApi.get_email_webhook"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{mailbox_id}/email/webhook'.sub('{mailbox_id}', CGI.escape(mailbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEmailWebhook200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_email_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_email_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read mailbox activity and optionally its incoming address
    # Read mailbox details. List files, emails, versions and account limits through their separate endpoints.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_email Requires upload/write access. Omission exposes activity only. (default to false)
    # @option opts [String] :account_id 
    # @option opts [String] :reason 
    # @return [CreateMailbox201Response]
    def get_mailbox(id, opts = {})
      data, _status_code, _headers = get_mailbox_with_http_info(id, opts)
      data
    end

    # Read mailbox activity and optionally its incoming address
    # Read mailbox details. List files, emails, versions and account limits through their separate endpoints.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_email Requires upload/write access. Omission exposes activity only. (default to false)
    # @option opts [String] :account_id 
    # @option opts [String] :reason 
    # @return [Array<(CreateMailbox201Response, Integer, Hash)>] CreateMailbox201Response data, response status code and response headers
    def get_mailbox_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_mailbox ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_mailbox"
      end
      if @api_client.config.client_side_validation && !opts[:'reason'].nil? && opts[:'reason'].to_s.length > 2000
        fail ArgumentError, 'invalid value for "opts[:"reason"]" when calling DefaultApi.get_mailbox, the character length must be smaller than or equal to 2000.'
      end

      # resource path
      local_var_path = '/v1/mailboxes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_email'] = opts[:'include_email'] if !opts[:'include_email'].nil?
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateMailbox201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_mailbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_mailbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a mailbox email address and limits
    # Requires upload/write access. Anyone knowing the address can send; reading files requires mailbox authorization. Original message.eml, decoded message.json, and attachments are stored together.
    # @param id [String] Authorized mailbox prefix ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Explicitly granted account; omission uses credential default
    # @option opts [String] :reason 
    # @return [GetMailboxEmailSettings200Response]
    def get_mailbox_email_settings(id, opts = {})
      data, _status_code, _headers = get_mailbox_email_settings_with_http_info(id, opts)
      data
    end

    # Read a mailbox email address and limits
    # Requires upload/write access. Anyone knowing the address can send; reading files requires mailbox authorization. Original message.eml, decoded message.json, and attachments are stored together.
    # @param id [String] Authorized mailbox prefix ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Explicitly granted account; omission uses credential default
    # @option opts [String] :reason 
    # @return [Array<(GetMailboxEmailSettings200Response, Integer, Hash)>] GetMailboxEmailSettings200Response data, response status code and response headers
    def get_mailbox_email_settings_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_mailbox_email_settings ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_mailbox_email_settings"
      end
      if @api_client.config.client_side_validation && !opts[:'reason'].nil? && opts[:'reason'].to_s.length > 2000
        fail ArgumentError, 'invalid value for "opts[:"reason"]" when calling DefaultApi.get_mailbox_email_settings, the character length must be smaller than or equal to 2000.'
      end

      # resource path
      local_var_path = '/v1/mailboxes/{id}/email'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMailboxEmailSettings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_mailbox_email_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_mailbox_email_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read stored file metadata
    # @param id [String] 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [MailboxFileResponse]
    def get_mailbox_file(id, file_id, opts = {})
      data, _status_code, _headers = get_mailbox_file_with_http_info(id, file_id, opts)
      data
    end

    # Read stored file metadata
    # @param id [String] 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id 
    # @return [Array<(MailboxFileResponse, Integer, Hash)>] MailboxFileResponse data, response status code and response headers
    def get_mailbox_file_with_http_info(id, file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_mailbox_file ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_mailbox_file"
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling DefaultApi.get_mailbox_file"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{id}/files/{file_id}'.sub('{id}', CGI.escape(id.to_s)).sub('{file_id}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MailboxFileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_mailbox_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_mailbox_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read current account identity and granted accounts
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select a granted account for this request only; omit for the credential&#39;s default account.
    # @option opts [String] :reason 
    # @return [GetRevdokuStatus200Response]
    def get_revdoku_status(opts = {})
      data, _status_code, _headers = get_revdoku_status_with_http_info(opts)
      data
    end

    # Read current account identity and granted accounts
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select a granted account for this request only; omit for the credential&#39;s default account.
    # @option opts [String] :reason 
    # @return [Array<(GetRevdokuStatus200Response, Integer, Hash)>] GetRevdokuStatus200Response data, response status code and response headers
    def get_revdoku_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_revdoku_status ...'
      end
      if @api_client.config.client_side_validation && !opts[:'reason'].nil? && opts[:'reason'].to_s.length > 2000
        fail ArgumentError, 'invalid value for "opts[:"reason"]" when calling DefaultApi.get_revdoku_status, the character length must be smaller than or equal to 2000.'
      end

      # resource path
      local_var_path = '/v1/status'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRevdokuStatus200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_revdoku_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_revdoku_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List account email domains, DNS records, receiving state and usage
    # Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Explicit granted account for this call; omission uses the credential account.
    # @option opts [String] :reason 
    # @return [EmailDomainListResponse]
    def list_account_email_domains(opts = {})
      data, _status_code, _headers = list_account_email_domains_with_http_info(opts)
      data
    end

    # List account email domains, DNS records, receiving state and usage
    # Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Explicit granted account for this call; omission uses the credential account.
    # @option opts [String] :reason 
    # @return [Array<(EmailDomainListResponse, Integer, Hash)>] EmailDomainListResponse data, response status code and response headers
    def list_account_email_domains_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_account_email_domains ...'
      end
      if @api_client.config.client_side_validation && !opts[:'reason'].nil? && opts[:'reason'].to_s.length > 2000
        fail ArgumentError, 'invalid value for "opts[:"reason"]" when calling DefaultApi.list_account_email_domains, the character length must be smaller than or equal to 2000.'
      end

      # resource path
      local_var_path = '/v1/account/email_domains'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailDomainListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.list_account_email_domains",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_account_email_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List accounts granted to this credential
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 100)
    # @option opts [Integer] :offset 
    # @return [ListAccounts200Response]
    def list_accounts(opts = {})
      data, _status_code, _headers = list_accounts_with_http_info(opts)
      data
    end

    # List accounts granted to this credential
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 100)
    # @option opts [Integer] :offset 
    # @return [Array<(ListAccounts200Response, Integer, Hash)>] ListAccounts200Response data, response status code and response headers
    def list_accounts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_accounts ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_accounts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_accounts, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DefaultApi.list_accounts, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/accounts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAccounts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.list_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List received emails
    # Requires mailbox read permission. Ascending arrival order supports incremental polling: retain next_cursor even after an empty page. Reuse account, mailbox and filters. Late receipt timestamps are included. Descending order browses history. Edits/read changes/restorations do not replay earlier arrivals. Listing does not mark read.
    # @param mailbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [Integer] :limit Maximum messages on this page. (default to 50)
    # @option opts [String] :cursor Opaque next_cursor from a previous page.
    # @option opts [String] :order Arrival order. (default to 'asc')
    # @option opts [String] :sender Exact sender address, case insensitive.
    # @option opts [String] :subject Case insensitive subject substring.
    # @option opts [Time] :received_after Exclusive receipt-time lower bound.
    # @option opts [Time] :received_before Exclusive receipt-time upper bound.
    # @option opts [Boolean] :read Current shared read status.
    # @option opts [Boolean] :has_attachments Saved attachment presence.
    # @option opts [String] :conversation_id An email ID in the selected conversation.
    # @option opts [Boolean] :include_storage Include backing file identifiers for file-browser integration. (default to false)
    # @return [ListEmails200Response]
    def list_emails(mailbox_id, opts = {})
      data, _status_code, _headers = list_emails_with_http_info(mailbox_id, opts)
      data
    end

    # List received emails
    # Requires mailbox read permission. Ascending arrival order supports incremental polling: retain next_cursor even after an empty page. Reuse account, mailbox and filters. Late receipt timestamps are included. Descending order browses history. Edits/read changes/restorations do not replay earlier arrivals. Listing does not mark read.
    # @param mailbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [Integer] :limit Maximum messages on this page. (default to 50)
    # @option opts [String] :cursor Opaque next_cursor from a previous page.
    # @option opts [String] :order Arrival order. (default to 'asc')
    # @option opts [String] :sender Exact sender address, case insensitive.
    # @option opts [String] :subject Case insensitive subject substring.
    # @option opts [Time] :received_after Exclusive receipt-time lower bound.
    # @option opts [Time] :received_before Exclusive receipt-time upper bound.
    # @option opts [Boolean] :read Current shared read status.
    # @option opts [Boolean] :has_attachments Saved attachment presence.
    # @option opts [String] :conversation_id An email ID in the selected conversation.
    # @option opts [Boolean] :include_storage Include backing file identifiers for file-browser integration. (default to false)
    # @return [Array<(ListEmails200Response, Integer, Hash)>] ListEmails200Response data, response status code and response headers
    def list_emails_with_http_info(mailbox_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_emails ...'
      end
      # verify the required parameter 'mailbox_id' is set
      if @api_client.config.client_side_validation && mailbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'mailbox_id' when calling DefaultApi.list_emails"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_emails, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_emails, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/mailboxes/{mailbox_id}/emails'.sub('{mailbox_id}', CGI.escape(mailbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'sender'] = opts[:'sender'] if !opts[:'sender'].nil?
      query_params[:'subject'] = opts[:'subject'] if !opts[:'subject'].nil?
      query_params[:'received_after'] = opts[:'received_after'] if !opts[:'received_after'].nil?
      query_params[:'received_before'] = opts[:'received_before'] if !opts[:'received_before'].nil?
      query_params[:'read'] = opts[:'read'] if !opts[:'read'].nil?
      query_params[:'has_attachments'] = opts[:'has_attachments'] if !opts[:'has_attachments'].nil?
      query_params[:'conversation_id'] = opts[:'conversation_id'] if !opts[:'conversation_id'].nil?
      query_params[:'include_storage'] = opts[:'include_storage'] if !opts[:'include_storage'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListEmails200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.list_emails",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_emails\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List files or related email without marking read
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Default and maximum 100. (default to 100)
    # @option opts [Integer] :offset 
    # @option opts [String] :reason 
    # @option opts [String] :q 
    # @option opts [String] :folder 
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @return [ListMailboxFiles200Response]
    def list_mailbox_files(id, opts = {})
      data, _status_code, _headers = list_mailbox_files_with_http_info(id, opts)
      data
    end

    # List files or related email without marking read
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Default and maximum 100. (default to 100)
    # @option opts [Integer] :offset 
    # @option opts [String] :reason 
    # @option opts [String] :q 
    # @option opts [String] :folder 
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @return [Array<(ListMailboxFiles200Response, Integer, Hash)>] ListMailboxFiles200Response data, response status code and response headers
    def list_mailbox_files_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_mailbox_files ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.list_mailbox_files"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_mailbox_files, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DefaultApi.list_mailbox_files, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'reason'].nil? && opts[:'reason'].to_s.length > 2000
        fail ArgumentError, 'invalid value for "opts[:"reason"]" when calling DefaultApi.list_mailbox_files, the character length must be smaller than or equal to 2000.'
      end

      # resource path
      local_var_path = '/v1/mailboxes/{id}/files'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'folder'] = opts[:'folder'] if !opts[:'folder'].nil?
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMailboxFiles200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.list_mailbox_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_mailbox_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List accessible mailboxes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [Boolean] :archived  (default to false)
    # @option opts [String] :q 
    # @return [ListMailboxes200Response]
    def list_mailboxes(opts = {})
      data, _status_code, _headers = list_mailboxes_with_http_info(opts)
      data
    end

    # List accessible mailboxes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Select another granted account; otherwise use the credential default.
    # @option opts [Boolean] :archived  (default to false)
    # @option opts [String] :q 
    # @return [Array<(ListMailboxes200Response, Integer, Hash)>] ListMailboxes200Response data, response status code and response headers
    def list_mailboxes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_mailboxes ...'
      end
      # resource path
      local_var_path = '/v1/mailboxes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'archived'] = opts[:'archived'] if !opts[:'archived'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMailboxes200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.list_mailboxes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_mailboxes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Prepare a single file upload
    # @param prepare_file_upload_request [PrepareFileUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PreparedFileUploadResponse]
    def prepare_file_upload(prepare_file_upload_request, opts = {})
      data, _status_code, _headers = prepare_file_upload_with_http_info(prepare_file_upload_request, opts)
      data
    end

    # Prepare a single file upload
    # @param prepare_file_upload_request [PrepareFileUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PreparedFileUploadResponse, Integer, Hash)>] PreparedFileUploadResponse data, response status code and response headers
    def prepare_file_upload_with_http_info(prepare_file_upload_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.prepare_file_upload ...'
      end
      # verify the required parameter 'prepare_file_upload_request' is set
      if @api_client.config.client_side_validation && prepare_file_upload_request.nil?
        fail ArgumentError, "Missing the required parameter 'prepare_file_upload_request' when calling DefaultApi.prepare_file_upload"
      end
      # resource path
      local_var_path = '/v1/direct_uploads'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(prepare_file_upload_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PreparedFileUploadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.prepare_file_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#prepare_file_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove unused receiving domain after confirmation
    # Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.
    # @param id [String] 
    # @param remove_account_email_domain_request [RemoveAccountEmailDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EmailDomainListResponse]
    def remove_account_email_domain(id, remove_account_email_domain_request, opts = {})
      data, _status_code, _headers = remove_account_email_domain_with_http_info(id, remove_account_email_domain_request, opts)
      data
    end

    # Remove unused receiving domain after confirmation
    # Full-account owner/administrator authorization required. Cookie-authenticated writes require CSRF. Check the returned domain setup availability. Never change customer DNS without explicit authorization.
    # @param id [String] 
    # @param remove_account_email_domain_request [RemoveAccountEmailDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailDomainListResponse, Integer, Hash)>] EmailDomainListResponse data, response status code and response headers
    def remove_account_email_domain_with_http_info(id, remove_account_email_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.remove_account_email_domain ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.remove_account_email_domain"
      end
      # verify the required parameter 'remove_account_email_domain_request' is set
      if @api_client.config.client_side_validation && remove_account_email_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'remove_account_email_domain_request' when calling DefaultApi.remove_account_email_domain"
      end
      # resource path
      local_var_path = '/v1/account/email_domains/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
[...]
