openapi: 3.0.3
info:
  description: "Email mailboxes for people and AI agents, with private file storage.\
    \ Create mailboxes, read messages and attachments, and store additional files.\
    \ Create your account at https://app.revdoku.com/users/sign_up. This document\
    \ covers selected endpoints; see https://revdoku.com/api.md for the complete API."
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Revdoku public agent API
  version: 2.0.1
servers:
- description: Revdoku application API
  url: https://api.revdoku.com
paths:
  /v1/status:
    get:
      operationId: getRevdokuStatus
      parameters:
      - description: Select a granted account for this request only; omit for the
          credential's default account.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getRevdokuStatus_200_response"
          description: "Current account, account types, client names, accessible parent\
            \ agencies, fixed credential default, and granted accounts."
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Read current account identity and granted accounts
      x-accepts:
      - application/json
  /v1/accounts:
    get:
      operationId: listAccounts
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAccounts_200_response"
          description: Granted account data. Selecting an account never changes the
            credential default.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: List accounts granted to this credential
      x-accepts:
      - application/json
    post:
      operationId: createClientAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createClientAccount_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createClientAccount_201_response"
          description: Created client identity with its granted parent in data.account.
            The credential default is unchanged.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Agency owner authorization required or account capacity reached
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Create a client account within an authorized agency
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/mailboxes/{id}/email:
    get:
      description: "Requires upload/write access. Anyone knowing the address can send;\
        \ reading files requires mailbox authorization. Original message.eml, decoded\
        \ message.json, and attachments are stored together."
      operationId: getMailboxEmailSettings
      parameters:
      - description: Authorized mailbox prefix ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Explicitly granted account; omission uses credential default
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMailboxEmailSettings_200_response"
          description: Mailbox email configuration
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Mailbox upload access required
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Mailbox unavailable
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Read a mailbox email address and limits
      x-accepts:
      - application/json
  /v1/mailboxes/{id}/email/rotate:
    post:
      description: "Requires write access and confirmation. Rotations stay on the\
        \ current domain unless domain is supplied. A ready custom domain requires\
        \ account eligibility and exact tenant ownership; platform recovers to the\
        \ default platform domain. Custom activation returns 202; poll the existing\
        \ email endpoint until assignment.status is active or failed. The old address\
        \ remains current until successful commit, which charges once. Read /v1/account/limits\
        \ for the rotation allowance; do not hard-code plan allowances. Never use\
        \ or synthesize a pending address. Free address changes return EMAIL_NAMES_UPGRADE_REQUIRED\
        \ with an upgrade_url. Optional username chooses a custom name and additionally\
        \ requires a paid plan and a full-account owner/administrator, an available\
        \ platform domain or a ready customer-owned domain (with deployment support\
        \ for custom domains). Blank/null names are invalid. Unchanged saves cost\
        \ no rotation. Named addresses may be reused only in their original account\
        \ once no primary, alias or pending assignment holds them; archived mailboxes\
        \ retain addresses. Retired addresses do not forward. Assignment history survives\
        \ mailbox deletion. Optional keep_old_as_alias retains the old primary for\
        \ the same mailbox, requiring full-account administrator access and an available\
        \ alias slot. Free has no aliases; query account limits for the effective\
        \ cap. Retention commits atomically with activation."
      operationId: rotateMailboxEmailAddress
      parameters:
      - description: Authorized mailbox prefix ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/rotateMailboxEmailAddress_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMailboxEmailSettings_200_response"
          description: Mailbox email configuration
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Write access required; custom names additionally require full-account
            owner/administrator access.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Mailbox unavailable
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Address changed, assignment pending/conflicting, custom name\
            \ unavailable, custom domain unavailable, or named assignments disabled.\
            \ Read the structured error code and reread state before retrying."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Confirmation/current address missing, or EMAIL_NAME_INVALID."
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Account is read-only
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: EMAIL_ROTATION_LIMIT; plan disallows rotation or monthly allowance
            is exhausted.
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMailboxEmailSettings_200_response"
          description: Pending activation. The returned address is still the current
            address. Poll GET email.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Replace a mailbox email address after confirmation
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/mailboxes:
    get:
      description: "List active mailboxes by default. Returns permitted email addresses,\
        \ current email and unread counts, lifetime receipts and receiving state.\
        \ Counts and pagination cover only authorized mailboxes. No message content\
        \ is read."
      operationId: listMailboxes
      parameters:
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: Case-insensitive contains-filter on the permitted email address
          or ID.
        explode: true
        in: query
        name: q
        required: false
        schema:
          maxLength: 500
          type: string
        style: form
      - description: "Archive status: active, archived or all. Defaults to active."
        explode: true
        in: query
        name: status
        required: false
        schema:
          default: active
          enum:
          - active
          - archived
          - all
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listMailboxes_200_response"
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: List accessible mailboxes
      x-accepts:
      - application/json
    post:
      description: "Creates a mailbox with file storage and waits for receiving confirmation.\
        \ On Free, email.username is a prefix with a permanent 12-character random\
        \ suffix. An exact name requires a paid plan. Omit email.username for a generated\
        \ name. On confirmation failure, EMAIL_NOT_READY includes the retained mailbox_id.\
        \ Creation quotas apply."
      operationId: createMailbox
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createMailbox_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                success: true
                data:
                  mailbox:
                    id: bkt_example
                    email:
                      address: acme-orders@revdokumail.com
                      receiving_enabled: true
                      sending_enabled: false
                    account_id: acct_example
              schema:
                $ref: "#/components/schemas/createMailbox_201_response"
          description: Created mailbox with its confirmed receiving address.
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createMailbox_201_response"
          description: Created mailbox with its confirmed receiving address.
        "401":
          content:
            application/json:
              example:
                success: false
                error:
                  code: UNAUTHORIZED
                  message: Authentication required
                  request_id: req_example
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Missing, invalid or expired API credential."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "EMAIL_NOT_READY: receiving could not be confirmed within 25\
            \ seconds. error.details.mailbox_id identifies the retained mailbox; do\
            \ not create a replacement blindly."
      security:
      - bearerAuth: []
      summary: Create a mailbox with a ready receiving address
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/mailboxes/{id}:
    get:
      description: "Read mailbox details. List files, emails, versions and account\
        \ limits through their separate endpoints."
      operationId: getMailbox
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Include additional address settings and aliases. Requires write
          access. Ordinary reads already include receiving state and the permitted
          address.
        explode: true
        in: query
        name: include_email
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createMailbox_201_response"
          description: Mailbox details including email address/receiving state when
            authorized.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Requested address requires upload/write access.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Read mailbox activity and optionally its incoming address
      x-accepts:
      - application/json
  /v1/account/email_domains:
    get:
      description: Full-account owner/administrator authorization required. Cookie-authenticated
        writes require CSRF. Check the returned domain setup availability. Never change
        customer DNS without explicit authorization.
      operationId: listAccountEmailDomains
      parameters:
      - description: Explicit granted account for this call; omission uses the credential
          account.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailDomainListResponse"
          description: Current domain configuration or result
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Account admin/full-account access or domain setup entitlement
            required
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Domain is still in use
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Invalid hostname, DNS conflict, or missing confirmation"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Setup rate limit; follow Retry-After
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Temporary provider/DNS error; details.retryable is true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: "List account email domains, DNS records, receiving state and usage"
      x-accepts:
      - application/json
    post:
      description: Full-account owner/administrator authorization required. Cookie-authenticated
        writes require CSRF. Check the returned domain setup availability. Never change
        customer DNS without explicit authorization.
      operationId: createAccountEmailDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createAccountEmailDomain_request"
        required: true
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Account admin/full-account access or domain setup entitlement
            required
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Domain is still in use
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Invalid hostname, DNS conflict, or missing confirmation"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Setup rate limit; follow Retry-After
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Temporary provider/DNS error; details.retryable is true
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailDomainListResponse"
          description: Exact domain claim created; add returned ownership TXT and
            verify.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Claim an exact email domain
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/email_domains/{id}:
    delete:
      description: Full-account owner/administrator authorization required. Cookie-authenticated
        writes require CSRF. Check the returned domain setup availability. Never change
        customer DNS without explicit authorization.
      operationId: removeAccountEmailDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/removeAccountEmailDomain_request"
        required: true
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Account admin/full-account access or domain setup entitlement
            required
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Domain is still in use
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Invalid hostname, DNS conflict, or missing confirmation"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Setup rate limit; follow Retry-After
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Temporary provider/DNS error; details.retryable is true
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailDomainListResponse"
          description: Verification/removal queued; poll the resource
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Remove unused receiving domain after confirmation
      x-content-type: application/json
      x-accepts:
      - application/json
    get:
      description: Full-account owner/administrator authorization required. Cookie-authenticated
        writes require CSRF. Check the returned domain setup availability. Never change
        customer DNS without explicit authorization.
      operationId: getAccountEmailDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Explicit granted account for this call; omission uses the credential
          account.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailDomainResponse"
          description: Current domain configuration or result
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Account admin/full-account access or domain setup entitlement
            required
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Domain is still in use
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Invalid hostname, DNS conflict, or missing confirmation"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Setup rate limit; follow Retry-After
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Temporary provider/DNS error; details.retryable is true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Read exact domain setup state
      x-accepts:
      - application/json
  /v1/account/email_domains/{id}/verify:
    post:
      description: Full-account owner/administrator authorization required. Cookie-authenticated
        writes require CSRF. Check the returned domain setup availability. Never change
        customer DNS without explicit authorization.
      operationId: verifyAccountEmailDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/verifyAccountEmailDomain_request"
        required: false
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Account admin/full-account access or domain setup entitlement
            required
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Domain is still in use
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Invalid hostname, DNS conflict, or missing confirmation"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Setup rate limit; follow Retry-After
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Temporary provider/DNS error; details.retryable is true
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailDomainListResponse"
          description: Verification/removal queued; poll the resource
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: "Queue exact ownership, SES and MX verification"
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/account/email_domains/check:
    post:
      description: "Requires full-account owner/administrator access. Checks the exact\
        \ hostname for conflicting MX or CNAME records without creating a claim or\
        \ changing DNS. If the root already receives email elsewhere, use an unused\
        \ subdomain such as mailbox.yourdomain.com. Cookie-authenticated requests\
        \ require CSRF."
      operationId: checkEmailHostname
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createAccountEmailDomain_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailDomainCheckResponse"
          description: Current domain configuration or result
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Account admin/full-account access or domain setup entitlement
            required
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Domain is still in use
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Invalid hostname, DNS conflict, or missing confirmation"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Setup rate limit; follow Retry-After
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Temporary provider/DNS error; details.retryable is true
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Check a domain hostname and existing DNS routing
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/mailboxes/{id}/files:
    get:
      operationId: listMailboxFiles
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Default and maximum 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 100
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: folder
        required: false
        schema:
          type: string
        style: form
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listMailboxFiles_200_response"
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Mailbox or email unavailable to this caller.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: List files or related email without marking read
      x-accepts:
      - application/json
    post:
      operationId: saveUploadedFile
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveUploadedFileRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedFileResponse"
          description: Save an uploaded file or a new version
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedFileResponse"
          description: File already exists with identical content. Returns the existing
            file and version with created=false and duplicate=true.
      security:
      - bearerAuth: []
      summary: Save an uploaded file or a new version
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/mailboxes/{mailbox_id}/emails:
    get:
      description: "Requires mailbox read permission. Ascending arrival order supports\
        \ incremental polling: retain next_cursor even after an empty page. Reuse\
        \ account, mailbox and filters. Late receipt timestamps are included. Descending\
        \ order browses history. Edits/read changes/restorations do not replay earlier\
        \ arrivals. Listing does not mark read."
      operationId: listEmails
      parameters:
      - explode: false
        in: path
        name: mailbox_id
        required: true
        schema:
          type: string
        style: simple
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: Maximum messages on this page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Opaque next_cursor from a previous page.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Arrival order.
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "Exact sender address, case insensitive."
        explode: true
        in: query
        name: sender
        required: false
        schema:
          type: string
        style: form
      - description: Case insensitive subject substring.
        explode: true
        in: query
        name: subject
        required: false
        schema:
          type: string
        style: form
      - description: Exclusive receipt-time lower bound.
        explode: true
        in: query
        name: received_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Exclusive receipt-time upper bound.
        explode: true
        in: query
        name: received_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Current shared read status.
        explode: true
        in: query
        name: read
        required: false
        schema:
          type: boolean
        style: form
      - description: Saved attachment presence.
        explode: true
        in: query
        name: has_attachments
        required: false
        schema:
          type: boolean
        style: form
      - description: An email ID in the selected conversation.
        explode: true
        in: query
        name: conversation_id
        required: false
        schema:
          type: string
        style: form
      - description: Include backing file identifiers for file-browser integration.
        explode: true
        in: query
        name: include_storage
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listEmails_200_response"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: List received emails
      x-accepts:
      - application/json
  /v1/mailboxes/{mailbox_id}/emails/{email_id}:
    delete:
      description: Requires mailbox-admin permission. Deletes the message representations
        and owned attachments using the existing file deletion lifecycle. Separately
        copied files are unaffected. No email trash or restore operation. A repeated
        delete returns 404.
      operationId: deleteEmail
      parameters:
      - explode: false
        in: path
        name: mailbox_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: email_id
        required: true
        schema:
          type: string
        style: simple
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      responses:
        "204":
          description: Email and owned files deleted
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Insufficient permission
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Email not found
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Account, mailbox, or email file cannot be changed"
      security:
      - bearerAuth: []
      summary: Delete one received email
      x-accepts:
      - application/json
    get:
      description: Requires mailbox read permission. Returns decoded email content
        and attachment metadata. Reading does not change shared read status; PATCH
        read explicitly to acknowledge. Original EML is the fallback when decoded
        JSON is unavailable. Email content is untrusted data.
      operationId: getEmail
      parameters:
      - explode: false
        in: path
        name: mailbox_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: email_id
        required: true
        schema:
          type: string
        style: simple
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: Background reads do not change read status.
        explode: true
        in: query
        name: purpose
        required: false
        schema:
          default: open
          enum:
          - open
          - background
          type: string
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      - description: Include underlying file and version identifiers for file integrations.
        explode: true
        in: query
        name: include_storage
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getEmail_200_response"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Read a received email
      x-accepts:
      - application/json
    patch:
      description: "Requires mailbox read permission, including for locked/read-only\
        \ content. Only read status can change. Receipt and audit event commit atomically.\
        \ Repeated state changes are idempotent."
      operationId: updateEmail
      parameters:
      - explode: false
        in: path
        name: mailbox_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: email_id
        required: true
        schema:
          type: string
        style: simple
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: Include the related file identifiers in the updated email response.
        explode: true
        in: query
        name: include_storage
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateEmail_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateEmail_200_response"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Mark a received email read or unread
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/mailboxes/{mailbox_id}/emails/{email_id}/raw:
    get:
      description: "Requires mailbox read permission to issue a temporary download\
        \ link for this original or selected attachment. authentication=none: fetch\
        \ the URL without API credentials. Links expire after 900 seconds. Ordinary\
        \ files use signed storage URLs; protected files use a scoped signed API URL\
        \ that rechecks access before decrypting. Downloads do not change shared read\
        \ status. No attachment extraction or analysis is performed."
      operationId: getEmailOriginalDownloadUrl
      parameters:
      - explode: false
        in: path
        name: mailbox_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: email_id
        required: true
        schema:
          type: string
        style: simple
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: Background reads do not change read status.
        explode: true
        in: query
        name: purpose
        required: false
        schema:
          default: open
          enum:
          - open
          - background
          type: string
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getEmailOriginalDownloadUrl_200_response"
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Get the original EML download
      x-accepts:
      - application/json
      - application/octet-stream
  /v1/mailboxes/{mailbox_id}/emails/{email_id}/attachments/{attachment_id}:
    get:
      description: "Requires mailbox read permission to issue a temporary download\
        \ link for this original or selected attachment. authentication=none: fetch\
        \ the URL without API credentials. Links expire after 900 seconds. Ordinary\
        \ files use signed storage URLs; protected files use a scoped signed API URL\
        \ that rechecks access before decrypting. Downloads do not change shared read\
        \ status. No attachment extraction or analysis is performed."
      operationId: getEmailAttachmentDownloadUrl
      parameters:
      - explode: false
        in: path
        name: mailbox_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: email_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: attachment_id
        required: true
        schema:
          type: string
        style: simple
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - description: Background reads do not change read status.
        explode: true
        in: query
        name: purpose
        required: false
        schema:
          default: open
          enum:
          - open
          - background
          type: string
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getEmailOriginalDownloadUrl_200_response"
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Get an email attachment download
      x-accepts:
      - application/json
      - application/octet-stream
  /v1/mailboxes/{id}/email/allowlist:
    patch:
      description: "Requires account owner/administrator and mailbox-admin permission.\
        \ Read sender_allowlist.version from GET /mailboxes/{id}/email first. Entries\
        \ match exact authenticated From addresses or domains, with no wildcards or\
        \ implicit subdomains. A stale or missing version returns EMAIL_ALLOWLIST_CHANGED;\
        \ invalid entries return EMAIL_ALLOWLIST_INVALID. Disabled policies retain\
        \ the supplied entries. Locks and read-only account state apply."
      operationId: updateMailboxEmailAllowlist
      parameters:
      - description: Authorized mailbox prefix ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Explicitly granted account; omission uses credential default
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateMailboxEmailAllowlist_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateMailboxEmailAllowlist_200_response"
          description: Updated allowed senders
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Account administrator and mailbox-admin permission required
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Mailbox not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: EMAIL_ALLOWLIST_CHANGED
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: EMAIL_ALLOWLIST_INVALID
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Account or mailbox locked
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Replace the allowed senders for a mailbox
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/accounts/{id}:
    get:
      operationId: getAccount
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccount_200_response"
          description: Granted account data. Selecting an account never changes the
            credential default.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Read one granted account
      x-accepts:
      - application/json
  /v1/account/limits:
    get:
      description: For the selected account. Uses the same plan and overrides as enforcement.
        Limits are not repeated in mailbox responses. Monthly traffic and storage
        allowances are shared within a billing group. Zero means none; null means
        no cap for that field.
      operationId: getAccountLimits
      parameters:
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountLimits_200_response"
          description: Effective limits
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      summary: Read effective mailbox and file storage limits
      x-accepts:
      - application/json
  /v1/mailboxes/{mailbox_id}/email/webhook:
    delete:
      description: Requires mailbox admin permission. Cancels queued attempts; a request
        already in flight may finish.
      operationId: deleteEmailWebhook
      parameters:
      - explode: false
        in: path
        name: mailbox_id
        required: true
        schema:
          type: string
        style: simple
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "204":
          description: Webhook disabled
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Disable a mailbox webhook
      x-accepts:
      - application/json
    get:
      description: Requires mailbox admin permission. Returns null when disabled;
        never includes the signing secret.
      operationId: getEmailWebhook
      parameters:
      - explode: false
        in: path
        name: mailbox_id
        required: true
        schema:
          type: string
        style: simple
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getEmailWebhook_200_response"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Read a mailbox webhook endpoint
      x-accepts:
      - application/json
    put:
      description: "Requires mailbox admin permission. Public HTTPS, including explicit\
        \ ports such as 8443. Generates an encrypted signing secret, returned here.\
        \ Same-URL updates retain it; replacing the URL rotates it and cancels pending\
        \ old-version deliveries. Events are signed and retried up to eight attempts\
        \ on transient failure; duplicates are possible. Worker-crash recovery is\
        \ bounded to 24 hours from event creation. Exhausted and permanent failures\
        \ require operator review."
      operationId: setEmailWebhook
      parameters:
      - explode: false
        in: path
        name: mailbox_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/setEmailWebhook_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/setEmailWebhook_200_response"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Configure one received-email webhook per mailbox
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/mailboxes/{mailbox_id}/email/subscription:
    get:
      description: "Requires mailbox read permission. Connect to the returned websocket_url\
        \ with email_subscription_token=TICKET using actioncable-v1-json within 60\
        \ seconds. Subscribe to EmailReceivedChannel with the returned account_id/mailbox_id.\
        \ Frames contain EmailReceivedEvent in message. Live only: after confirmation\
        \ and on reconnect, catch up using existing ascending email arrival cursors."
      operationId: getEmailSubscription
      parameters:
      - explode: false
        in: path
        name: mailbox_id
        required: true
        schema:
          type: string
        style: simple
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getEmailSubscription_200_response"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Get a short-lived Action Cable ticket for local email monitoring
      x-accepts:
      - application/json
  /v1/mailboxes/{id}/email/aliases/{alias_id}:
    delete:
      description: "Requires a full-account owner/administrator with mailbox-admin\
        \ access. Immediately revokes this alias, including queued deliveries. Retains\
        \ existing messages and the permanent address reservation. Returns updated\
        \ mailbox settings."
      operationId: deleteMailboxEmailAlias
      parameters:
      - description: Authorized mailbox prefix ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Alias ID from mailbox settings
        explode: false
        in: path
        name: alias_id
        required: true
        schema:
          type: string
        style: simple
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMailboxEmailSettings_200_response"
          description: Mailbox email configuration
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Full-account owner/administrator with mailbox-admin access
            required.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Mailbox or alias unavailable.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Mailbox locked or unavailable for changes.
        "423":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Account is read-only
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Remove one email alias
      x-accepts:
      - application/json
  /v1/mailboxes/{id}/email/aliases:
    post:
      description: "Requires a paid plan, a full-account owner/administrator with\
        \ mailbox-admin access and an available alias slot. Free returns EMAIL_NAMES_UPGRADE_REQUIRED\
        \ with an upgrade_url. Accepts a username on an available platform domain\
        \ or a ready domain owned by this account. Leaves the primary address unchanged\
        \ and does not consume a rotation. Returns 202 while receiving registration\
        \ is pending; read mailbox settings until receiving_enabled is true. After\
        \ an uncertain response, read existing aliases before retrying."
      operationId: createMailboxEmailAlias
      parameters:
      - description: Authorized mailbox prefix ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Select another granted account; otherwise use the credential
          default.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: reason
        required: false
        schema:
          $ref: "#/components/schemas/ActionReason"
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createMailboxEmailAlias_request"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMailboxEmailSettings_200_response"
          description: Updated mailbox settings; receiving registration is pending.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Full-account owner/administrator with mailbox-admin access
            required.
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Alias limit, address conflict, domain unavailable, or another\
            \ address change pending."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Invalid username or domain.
      security:
      - bearerAuth: []
      summary: Add an email alias to a mailbox
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/direct_uploads:
    post:
      operationId: prepareFileUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrepareFileUploadRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreparedFileUploadResponse"
          description: Prepare a single file upload
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreparedFileUploadResponse"
          description: Identical content already exists. No upload is needed.
      security:
      - bearerAuth: []
      summary: Prepare a single file upload
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/mailboxes/{id}/files/{file_id}:
    get:
      operationId: getMailboxFile
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MailboxFileResponse"
          description: Read stored file metadata
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
            \ includes Retry-After: 5."
      security:
      - bearerAuth: []
      summary: Read stored file metadata
      x-accepts:
      - application/json
components:
  parameters:
    AccountId:
      description: Select another granted account; otherwise use the credential default.
      explode: true
      in: query
      name: account_id
      required: false
      schema:
        type: string
      style: form
    Purpose:
      description: Background reads do not change read status.
      explode: true
      in: query
      name: purpose
      required: false
      schema:
        default: open
        enum:
        - open
        - background
        type: string
      style: form
    Reason:
      explode: true
      in: query
      name: reason
      required: false
      schema:
        $ref: "#/components/schemas/ActionReason"
      style: form
  responses:
    ApiError:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
      description: "Request failed; see error.code and error.details. A 503 EMAIL_INDEX_BUILDING\
        \ includes Retry-After: 5."
  schemas:
    AccountIdentity:
      example:
        id: id
        name: name
        account_kind: standard
        client_name: client_name
        agency_account:
          id: id
          name: name
        region: region
        status: active
        permissions:
          scope: scope
          mailbox_access: mailbox_access
          can_create_mailboxes: true
      properties:
        id:
          type: string
        name:
          description: "Account name, separate from the client person or business."
          type: string
        account_kind:
          enum:
          - standard
          - agency
          - client
          type: string
        client_name:
          description: "Client person or business name, or null when unset."
          maxLength: 100
          nullable: true
          type: string
        agency_account:
          $ref: "#/components/schemas/AccountIdentity_agency_account"
        region:
          nullable: true
          type: string
        status:
          enum:
          - active
          - read_only
          type: string
        permissions:
          $ref: "#/components/schemas/AccountIdentity_permissions"
      required:
      - account_kind
      - agency_account
      - client_name
      - id
      - name
      type: object
    MailboxEmail:
      description: "Mailbox reads include stored and unread email counts, lifetime\
        \ receipts, receiving state and the permitted address. Creation and include_email\
        \ reads also include additional address settings."
      example:
        address: address
        received_count: 0
        last_received_at: 2000-01-23T04:56:07.000+00:00
        last_received_path: last_received_path
        blocked_reason: blocked_reason
        available_domains:
        - hostname: hostname
          kind: platform
        - hostname: hostname
          kind: platform
        assignment:
          id: id
          status: pending
          hostname: hostname
          error:
            code: code
            message: message
            retryable: true
        customization:
          allowed: true
          blocked_reason: blocked_reason
          settings_url: settings_url
        receiving_enabled: true
        sender_allowlist:
          enabled: true
          entries:
          - entries
          - entries
          - entries
          - entries
          - entries
          version: version
          max_entries: 6
          editable: true
        username: username
        sending_enabled: true
        aliases:
        - id: id
          address: address
          active: true
        - id: id
          address: address
          active: true
        message_count: 0
        unread_count: 0
      properties:
        address:
          description: Primary mailbox display label when authorized. Omitted without
            address permission. The address remains a valid label when receiving is
            unavailable.
          nullable: true
          type: string
        received_count:
          description: Lifetime accepted deliveries. Deleting messages does not reduce
            this count. This is not the number of stored emails.
          format: int64
          minimum: 0
          type: integer
        last_received_at:
          format: date-time
          nullable: true
          type: string
        last_received_path:
          description: Latest message folder with trailing slash; null before receipt.
            May become stale after manual file moves/deletion.
          nullable: true
          type: string
        blocked_reason:
          description: Why receiving is unavailable; omitted when receiving_enabled
            is true.
          nullable: true
          type: string
        available_domains:
          items:
            $ref: "#/components/schemas/MailboxEmail_available_domains_inner"
          type: array
        assignment:
          $ref: "#/components/schemas/MailboxEmail_assignment"
        customization:
          $ref: "#/components/schemas/MailboxEmail_customization"
        receiving_enabled:
          description: Whether the mailbox can receive email now. Display an authorized
            address even when this is false.
          type: boolean
        sender_allowlist:
          $ref: "#/components/schemas/EmailSenderAllowlist"
        username:
          nullable: true
          type: string
        sending_enabled:
          description: Always false. Sending is not implemented.
          type: boolean
        aliases:
          items:
            $ref: "#/components/schemas/MailboxEmail_aliases_inner"
          type: array
        message_count:
          description: Emails currently stored. Null while the email index is being
            prepared.
          format: int64
          minimum: 0
          nullable: true
          type: integer
        unread_count:
          description: Stored emails with shared unread status. Null while the email
            index is being prepared.
          format: int64
          minimum: 0
          nullable: true
          type: integer
      required:
      - last_received_at
      - last_received_path
      - message_count
      - received_count
      - receiving_enabled
      - sending_enabled
      - unread_count
      type: object
    MailboxEmailActivity:
      properties:
        received_count:
          description: Lifetime accepted deliveries. Deleting messages does not reduce
            this count. This is not the number of stored emails.
          minimum: 0
          type: integer
        last_received_at:
          format: date-time
          nullable: true
          type: string
        last_received_path:
          description: Latest message folder with trailing slash; null before receipt.
            May become stale after manual file moves/deletion.
          nullable: true
          type: string
        message_count:
          description: Emails currently stored. Null while the email index is being
            prepared.
          format: int64
          minimum: 0
          nullable: true
          type: integer
        unread_count:
          description: Stored emails with shared unread status. Null while the email
            index is being prepared.
          format: int64
          minimum: 0
          nullable: true
          type: integer
      type: object
    DecodedEmailAddress:
      example:
        address: address
        name: name
      properties:
        address:
          type: string
        name:
          nullable: true
          type: string
      required:
      - address
      - name
      type: object
    DecodedIncomingMessage:
      description: "Stored message.json, not a dedicated endpoint. UTF-8, at most\
        \ 512 KiB. Header identities, reply relationships and body are untrusted message\
        \ data. Original message.eml is authoritative. Structured address, delivery\
        \ and thread fields are additive in schema v1 and may be absent in older files."
      properties:
        schema_version:
          enum:
          - 1
          type: integer
        subject:
          nullable: true
          type: string
        from:
          nullable: true
          type: string
        to:
          nullable: true
          type: string
        from_addresses:
          description: "Parsed From authors in header order, retaining multiple authors.\
            \ Empty when absent/unparseable. Display names are not identity keys."
          items:
            $ref: "#/components/schemas/DecodedEmailAddress"
          type: array
        to_addresses:
          description: "Parsed To recipients in header order, with named groups flattened.\
            \ Empty when absent/unparseable; not trusted delivery routing."
          items:
            $ref: "#/components/schemas/DecodedEmailAddress"
          type: array
        cc_addresses:
          description: "Parsed Cc recipients in header order, with named groups flattened.\
            \ Empty when absent/unparseable."
          items:
            $ref: "#/components/schemas/DecodedEmailAddress"
          type: array
        reply_to_addresses:
          description: Parsed Reply-To addresses in header order. Empty when absent/unparseable.
            Does not authorize sending a reply.
          items:
            $ref: "#/components/schemas/DecodedEmailAddress"
          type: array
        message_id:
          description: "Sender Message-ID without angle brackets, preserving case.\
            \ Null when absent/unparseable/ambiguous; never the Revdoku delivery ID."
          nullable: true
          type: string
        in_reply_to:
          description: "Ordered parent Message-IDs without angle brackets, preserving\
            \ case. Empty when absent/unparseable; multiple parents are retained."
          items:
            type: string
          type: array
        references:
          description: "Ordered References IDs without angle brackets, preserving\
            \ case. Empty when absent/unparseable."
          items:
            type: string
          type: array
        delivery_id:
          description: "Revdoku delivery identity, matching email_delivery_id metadata\
            \ and the original folder suffix. Stable on retries, independent of Message-ID.\
            \ Copies retain the source identity; not a unique file/copy ID."
          pattern: "^[0-9a-f]{32}$"
          type: string
        thread_id:
          description: "thr_ plus SHA-256 of thread_anchor_message_id. Best-effort\
            \ header-derived grouping hint, not authoritative conversation membership\
            \ or an access grant. Missing ancestry or reused IDs can split/merge hints.\
            \ Scope lookups to accessible mailboxes."
          nullable: true
          pattern: "^thr_[0-9a-f]{64}$"
          type: string
        thread_id_source:
          enum:
          - references
          - in_reply_to
          - message_id
          - null
          nullable: true
          type: string
        thread_anchor_message_id:
          description: "First References ID, otherwise the sole In-Reply-To ID, otherwise\
            \ this message's ID if no parent is available. Null without an anchor\
            \ or when multiple parents lack References."
          nullable: true
          type: string
        delivered_to:
          type: string
        received_at:
          format: date-time
          type: string
        body_text:
          nullable: true
          type: string
        body_status:
          enum:
          - complete
          - empty
          - truncated
          - unavailable
          type: string
        omitted_attachment_count:
          minimum: 1
          type: integer
        attachments:
          items:
            $ref: "#/components/schemas/DecodedIncomingMessage_attachments_inner"
          type: array
        forwarding:
          $ref: "#/components/schemas/EmailForwardingContent"
        cc:
          description: Decoded Cc header; use the corresponding parsed address array
            for individual addresses.
          nullable: true
          type: string
        reply_to:
          description: Decoded Reply-To header; use the corresponding parsed address
            array for individual addresses.
          nullable: true
          type: string
      required:
      - attachments
      - body_status
      - body_text
      - delivered_to
      - from
      - received_at
      - schema_version
      - subject
      - to
      type: object
    ActionReason:
      description: "Optional purpose for this action. AI agents should explain intentional\
        \ reads and changes when known; omit when unknown. Do not include secrets,\
        \ file contents, or transcripts."
      maxLength: 2000
      nullable: true
      type: string
    ApiError:
      example:
        success: true
        error:
          code: code
          message: message
          details: ""
          request_id: request_id
[...]
